
.choiceContainer .labelContainer {
    margin: 10px;
    margin-top: 50px;
    padding: 0;
    padding-top: 0;
}

.categorySection,
.difficultySection {
    width: calc(50% - 20px);
    float: left;
    margin: 10px;
}

.choiceContainer label {
    font-size: 1rem;
}

.choiceContainer .btn {
    margin: 50px 0 100px 0;
}


.categorySection .label {
    width: calc(50% - 22px);
    float: left;
    margin: 10px;
}

.difficultySection .label {
    width: calc(100% - 22px);
    float: left;
    margin: 10px;
}
