
.choiceContainer .labelContainer {
    margin: 0;
    padding: 0;
    padding-top: 0;
}

.categorySection,
.difficultySection {
    width: calc(50% - 20px);
    float: left;
    margin: 10px;
}

.choiceContainer label {
    font-size: 1rem;
}

.choiceContainer .btn {
    margin: 50px 0 100px 0;
}


.categorySection .label {
    width: calc(50% - 22px);
    float: left;
    margin: 10px;
}

.difficultySection .label {
    width: calc(100% - 22px);
    float: left;
    margin: 10px;
}

.labelContainer {
    margin: 20px auto;
    padding: 20px;
    padding-top: 0;
    border-radius: 7px;
    box-shadow: inset rgba(black, 0.7) 0px 1px 3px, grey 0 1px 5px;
    background-color: rgba(black, 0.2);
}
