
.label {
    display: block;
    width: 100%;
    padding: 20px 0;
	background: dimgrey;
	border: 1px solid black;
	background-image: linear-gradient(to bottom, darkgrey 50%, #2d2f33 60%);
	border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    box-shadow: inset dimgrey 0px 1px 4px 0px, inset #1f2124 0px 13px 72px 0px, inset #2d2f33  1px 2px 81px 0px, #2d2f33 0px 0px 16px;
    font-size: 2rem;
    color: $lightBlue;
    text-shadow: black 2px 2px 16px;
    transition: all 0.3s;
}


.label:hover {
    color: aqua;
    box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px;
    letter-spacing: 3px;
   
}

.labelContainer input:checked + label, .answers input:checked + label  {
    color: aqua;
    box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px,   
} 

a {
    text-decoration: none;
}

.labelContainer {
    // margin: 20px auto;
    // padding: 20px;
    // padding-top: 0;
    border-radius: 7px;
    box-shadow: inset rgba(black, 0.7) 0px 1px 3px, grey 0 1px 5px;
    background-color: rgba(black, 0.2);
}
