.landingPage {
    text-align: center;
    margin: 0 auto;
    
    h1 {
        margin: 0;
        margin: 60px;
        font-size: 5rem;
    }

    .robotsEight,
    .robotsFour {
        width: 60%;
        display: block;
        margin: 0 auto;
        margin-top: -50px;
    }

    .labelContainer {
        width: 90%;
        margin-top: 0;
    }

    .robotsFour {
        display: none;
    }

    .label {
        margin: 10px;
        width: calc(50% - 20px);
        display: inline-block;
    }

    @media (max-width: 600px) {
        .label {
            width: calc(100% - 20px)
        }

        .robotsEight {
            display: none;
        }

        .robotsFour {
            display: block;
            margin: 0 auto;
        }
    }
}