
.container {
    position: relative; 
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.containerWrapper {
    width: 70%;
    margin: 0 auto;
}

.playerContainer {
    position: absolute;
    transition: 0.3s;
    .player{
        float: left;
    }
}

.player {
    // float: left; 
    position: relative;
    text-align: center;
}

.previousPlayer,
.nextPlayer {
    border: 0;
    position: absolute;
    background-color: dimgrey;
    fill: $lightBlue;
    padding-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: #2d2f33 0px 0px 20px;
    transition: all 0.5s;
    &:hover {
        fill: aqua;
        box-shadow: black 0px 0px 20px;
    }
}

.previousPlayer {
    left: 100px;
    top: 115px;
}

.nextPlayer {
    right: 100px;
    top: 115px;
}

// FORM 

.usernameForm {
    width: 100%;
}

.submitUsername,
.enterUsername,
.submitUsers {
    width: 100%;
    margin: 0 auto;
    margin: 5px 0;
    padding: 15px;
}

.submitUsername,
.submitUsers {
    border: 0;
    background-color: gainsboro;
}

.player .labelContainer {
    width: 100%;
    padding-top: 20px;
    float: left;
    position: relative;
    text-align: center;
}

.player .label {
    width: calc(30% - 10px);
    font-size: 1rem;
}

.player .enterUsername {
    width: calc(70% - 10px);
    float: left;
    clear: both;
    margin-right: 20px;
    padding: 18px;
    border-radius: 8px;
    background-color: #c5c5c5;
    border: 0;
}

.avatar img {
    width: 250px;
    height: 250px;
}

.avatar {
    width: 100%;
}