
.container {
    position: relative; 
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.containerWrapper {
    width: 70%;
    margin: 0 auto;
}

.playerContainer {
    position: absolute;
    transition: 0.3s;
    .player{
        float: left;
    }
}

.player {
    // float: left; 
    position: relative;
    text-align: center;
}

.playerName {
    position: relative;
}

.previousPlayer,
.nextPlayer {
    border: 0;
    position: absolute;
    background-color: grey;
    fill: $lightBlue;
    padding-top: 3px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: dimgrey 0px 0px 20px;
    transition: all 0.5s;
    top: -6px;
    &:hover {
        fill: aqua;
        box-shadow: black 0px 0px 20px;
    }
}

.previousPlayer {
    left: 0;
}

.nextPlayer {
    right: 0;
}

// FORM 

.usernameForm {
    width: 100%;
}

.submitUsername,
.enterUsername,
.submitUsers {
    margin: 0 auto;
    margin: 5px 0;
    padding: 15px;
}

.player .labelContainer {
    width: 100%;
    padding-top: 20px;
    float: left;
    position: relative;
    text-align: center;
}

.player .label {
    width: calc(30% - 10px);
    font-size: 1rem;
}

.player .enterUsername {
    width: calc(70% - 10px);
    float: left;
    clear: both;
    margin-right: 20px;
    padding: 18px;
    border-radius: 8px;
    background-color: #c5c5c5;
    border: 0;
}

.avatar img {
    width: 250px;
    height: 250px;
}

.avatar {
    width: 100%;
    max-width: 864px;
}

@media (max-width: 720px) {

    .player .label,
    .player .enterUsername {
        width: 100%;
    }

}

@media (max-width: 430px) {
    .avatar img {
        width: 200px;
        height: 200px;
    }

    .submitUsers {
        width: 70%;
    }

}