// HOST AND QUESTION

.questionsPageContainer {
    text-align: center;
    margin: 0 auto;
    overflow-x: hidden;
}

.hostQuestion {
    img {
        position: absolute;
        left: 12%;
        top: 10%;
        width: 15%;
        border: 2px solid black;
    }
    p {
        color: black;
    }
}

// SPEECH BUBBLE 

.speechBubble {
    position: relative;
    margin: 40px auto;
    padding: 30px 20px;
    width: 80%;

    border-radius: 10px;
    transform: rotate(0deg) rotateY(-5deg);
    background: black;
    text-align: center;
}

.speechBubble:before, .speechBubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.speechBubble:after {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  border-radius: inherit;
//   transform: rotate(1.5deg) translate(.35em, -.15em) scale(1.02);
    transform: rotate(1.5deg) translate(10px, -1px) scale(1.02);
    background: $grey;
    border: 1px solid black;
}

// ANSWERS FORM 

.answersContainer {
    width: 500px;
    text-align: center;

}

.playerAnswers {
    display: inline-block;
    // margin-right: 20%;
    min-width: 25%;
}

.answers {
    display: block;
}

.playerSubmit {
    display: inline-block;
}
// end of floats 

.answers .label {
    width: 100%;
    font-weight: 600;
    letter-spacing: none;
}

// .answers .label:hover 

.answers .label:hover {
    letter-spacing: normal;

}

.answers {
    display: block;
    padding: 15px;
}

.answers input[type="radio"]{
    position: fixed;
    opacity: 0;
}


// PLAYER SUBMIT DIV WITH NAME IMG AND SUBMIT BUTTON 
// PLUS ANIMATIONS

.players {
    position: relative; 
    height: 67vh;
    overflow-x: hidden;
    margin-top: -20px;
    // z-index: -10;
    .player {
        position: absolute;
        transition: 0.3s;
        transform: translateX(-50%);
        width: 100%;
    }

    .player2 {
        left: 100%;
    }
    
    .player3 {
        left: 200%;
    }
    
    .player4 {
        left: 400%;
    }

}

.playerSubmit {

    h2 {
        text-transform: capitalize;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
    img {
        border: 2px solid black;
        border-radius: 50%;
        width: 65%;
        background-color: $grey;
        box-shadow: inset 0px 0px 83px #fefefe;
    }
    button {
        display: block;
        width: 55%;
        margin: 0 auto;
        margin-top: 15px;
    }
}


@media (max-width: 500px) {
  .playerSubmit {
    width: 70%;
  }

.playerAnswers {
    width: 100%;
    margin: 0 auto;

}

.answers {
    padding: 0;
    margin-left: 10px;
    float: left;
    width: 22%;
}

  .answers .label {
      height: 75px;
      margin: 0 auto;
  }
}
