
// HOST AND QUESTION


.questionsPageContainer {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    // padding: 10px;
    // overflow-y: hidden;
    // width: 1000px;
}

.hostQuestion {
    // height: 20%;
    img {
        position: absolute;
        left: 12%;
        top: 10%;
        width: 15%;
        border: 2px solid black;
        // float: left;
    }
    p {
        color: black;
    }
}

// SPEECH BUBBLE 

.speechBubble {
    position: relative;
    margin: 40px auto;
    padding: 30px 20px;
    width: 80%;

    border-radius: 10px;
    transform: rotate(0deg) rotateY(-5deg);
    background: black;
    text-align: center;
}

.speechBubble:before, .speechBubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.speechBubble:after {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  border-radius: inherit;
//   transform: rotate(1.5deg) translate(.35em, -.15em) scale(1.02);
    transform: rotate(1.5deg) translate(10px, -1px) scale(1.02);
    background: #f4fbfe;
    border: 1px solid black;
}

// ANSWERS FORM 

.answersContainer {
    width: 500px;
    text-align: center;

}

.playerAnswers {
    display: inline-block;
    // margin-right: 20%;
    min-width: 25%;
}

.answers {
    display: block;
}

.playerSubmit {
    display: inline-block;
}
// end of floats 

.answers .label {
    width: 100%;
    font-weight: 600;
    // display: block;
    // display: inline-block;
    // float: left;;
    // padding: 10px;
    letter-spacing: none;
}

// .answers .label:hover 

.answers .label:hover {
    letter-spacing: normal;

}

.answers {
    display: block;
    padding: 15px;
}

.answers input[type="radio"]{
    position: fixed;
    opacity: 0;
}


// PLAYER SUBMIT DIV WITH NAME IMG AND SUBMIT BUTTON 
// PLUS ANIMATIONS

.playerAnswers {
    // margin-top: 50px;
    // margin-right: 50px;
    // display: inline-block;
    // margin: 0 auto;
    // margin: 
}


.players {
    position: relative; 
    height: 60vh;
    overflow: hidden;
    margin-top: -20px;
    // z-index: -10;
    .player {
        position: absolute;
        transition: 0.3s;
        transform: translateX(-50%);
        width: 100%;
    }

    .player2 {
        left: 100%;
    }
    
    .player3 {
        left: 200%;
    }
    
    .player4 {
        left: 400%;
    }

}

.playerSubmit {

    h2 {
        text-transform: capitalize;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
    img {
        border: 2px solid black;
        border-radius: 50%;
        width: 65%;
        background-color: $grey;
        box-shadow: inset 0px 0px 83px #fefefe;
    }
    button {
        display: block;
        width: 55%;
        margin: 0 auto;
        margin-top: 15px;
    }
}

.submitAnswerBtn {
    // background-color: #fff;
    // z-index: 10;
    // margin-top: -300px;
    // position: absolute;
    // top: -50%;
}


// EXTRA STUFF  

// .players {
//     position: relative; 
//     height: 75vh;
//     overflow: hidden;
// }

// form.player {
//     // width: 100%;
//     // position: absolute;
//     top: 0;
//     transition: 0.3s;
// }

// form.player2 {
//     // position: absolute;
//     left: 100%;
// }

// form.player3 {
//     right: -200%;
// }
// form.player4 {
//     right: -300%;
// }

// .players {
//     height: 75vh;
//     overflow: hidden;
//     position: relative; 
//     // clear: both;
//     // margin-top: -250px;
//     // clear: both;
//     // text-align: center;
//     // display: inline-block;
//     // margin-top: 20px;
//     // width: 100%;
// }

// form.player {
//     // width: 100%;
//     // position: absolute;
//     top: 0;
// }