.results {
    section {
        text-align: center;
    }
    
    h1 {
        text-align: center;
    }

    h2 {
        text-shadow: black 1px 1px 3px;
        text-transform: uppercase;
    }

    p {
        padding: 25px;
    }
    
    img {
        display: block;
    }

    .btn {
        display: block;
        margin: 50px auto 100px auto;
    }
    

    .player {
        margin: 20px;
        overflow: hidden;
        display: inline-block;
        width: 350px;
        text-align: center;

        h3 {
            font-size: 3rem;
            font-weight: 500;
        }

        .wrongAnimation {
            position: absolute;
            right: -90px;
            top: 0px;
            animation: wrench 1.5s infinite linear;
            transform: rotate(0);
            width: auto;
            height: auto;
        }
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: wrongOverlay 1.5s infinite;
        }

        .correct, .wrong {
            position: absolute;
            top: 65%;
            right: 50%;
            transform: translateX(50%);
            font-size: 30px;
            font-weight: 700;
            text-shadow: 1px 1px 9px #000;
            margin: 0;
        }
        .wrong {
            color: red;
            
        }
        .correct {
            color: lime;
        }
    }

    .avatar {
        text-align: center;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        position: relative;
        transition: 0.3s;
        overflow: hidden;
        border-radius: 50%;

        .avatarImage {
            border-radius: 50%;
            margin: 0;
            background-color: #c4c4c4;
        }
    } 

    @media (max-width: 420px) {
        .player {
            max-width: 300px;
            margin: 0 auto;
        }

        .avatar img {
            width: 250px;
            height: 250px;
        }
    }
}

.confetti {
    position: absolute;
    top: -16px;
    width: 8px;
    height: 16px;
}


@keyframes wrench {
    50% {
        right: 80px;
        top: 80px;
        transform: rotate(-470deg)
    }

    100% {
        right: -100px;
        top: 260px;
    }
}

@keyframes wrongOverlay {
    46% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background: rgba(255, 0, 0, 0.363);
    }
}


@for $i from 0 through 49 {
    .confetti#{$i} {
        animation: drop#{$i} linear 3s infinite;
        animation-delay: (random(50)) * 0.1s;
        left: random(500) * 1px;
        background-color: hsl(random(360), 100, 70);
        transform: rotate(random(360) * 1deg) rotateY(random(360) * 1deg);
        transition: 0.3s;      
    }
    @keyframes drop#{$i} {
        to {
            top: calc(100%);
            left: random(500) * 1px;
            transform: rotate(random(360) * 1deg);
        }
    }
}
