// <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,800,800i" rel="stylesheet">

// FONTS 
// Montserrat
// 

h1, p, button {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-transform: uppercase;
    // color: $red;
}

button {
    font-weight: 600;
}