// <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700,800,800i" rel="stylesheet">

// FONTS 
// Montserrat
// 

html {
    font-size: 62.5%;
}

h1, p, button, label {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

p, label {
    font-size: 1.5rem;
}

button {
    font-weight: 600;
}