// @import "_setup.scss";
@import "_utils.scss";
@import "_typography.scss"; 
@import "_labels.scss";
@import "_landingPage.scss";
@import "_players.scss"; 
@import "_startingPage.scss";
@import "_choice.scss";
@import "_questions.scss";

.wrapper {
    margin: 0 auto;
    // widows: 800px;
}

body {
  background-color: dimgrey;
}

h2 {
    color: $lightBlue;
}

// BUTTONS

.btn {
    background: none;
    background-color: #f82330;
    box-shadow: inset red 0px 6px 20px 0px, inset #531317 0px -5px 20px, inset white -7px 4px 20px 0px, black 0px 0px 10px;
    color: gainsboro;
    border: solid 1px black;
    padding: 20px 0;
    width: 300px;
    font-size: 18px;
    border-radius: 8px;
    transition: .3s;
    overflow: hidden;
    position: relative;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:focus {
    outline: none;
}

.btn:before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    transform: translateX(-130px) skewX(-15deg);
}

.btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.btn:hover {
    background: none;
    cursor: pointer;
    background-color: red;
    letter-spacing: 3px;
    color: white;
}

.btn:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

.visuallyHidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
}



.label {
    display: block;
    width: 100%;
    padding: 20px 0;
	background: dimgrey;
	border: 1px solid black;
	background-image: linear-gradient(to bottom, darkgrey 50%, #2d2f33 60%);
	border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    box-shadow: inset dimgrey 0px 1px 4px 0px, inset #1f2124 0px 13px 72px 0px, inset #2d2f33  1px 2px 81px 0px, #2d2f33 0px 0px 16px;
    font-size: 2rem;
    color: $lightBlue;
    text-shadow: black 2px 2px 16px;
    transition: all 0.3s;
}


.label:hover {
    color: aqua;
    box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px;
    letter-spacing: 3px;
   
}

.labelContainer input:checked + label {
    color: aqua;
    box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px,   
} 

a {
    text-decoration: none;
}

.labelContainer {
    // margin: 20px auto;
    // padding: 20px;
    // padding-top: 0;
    border-radius: 7px;
    box-shadow: inset rgba(black, 0.7) 0px 1px 3px, grey 0 1px 5px;
    background-color: rgba(black, 0.2);
}
