@import "_setup.scss";
@import "_utils.scss";
@import "_typography.scss"; 
@import "_labels.scss";
@import "_landingPage.scss";
@import "_players.scss"; 
@import "_startingPage.scss";
@import "_choice.scss";
@import "_questions.scss";

.wrapper {
    margin: 0 auto;
    widows: 800px;
}

body {
  background-color: dimgrey;
  background-color: #c4c4c4;
  background-color: grey;
}

h2 {
    color: $lightBlue;
}