html {
  font-size: 62.5%;
  color: white; }

h1, p, button, label {
  font-family: 'Montserrat', sans-serif;
  color: white; }

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #9ad4e6;
  text-shadow: 1px 1px 3px black; }

h2 {
  font-size: 2rem; }

p, label {
  font-size: 1.5rem; }

button {
  font-weight: 600; }

.label {
  display: block;
  width: 100%;
  padding: 20px 0;
  background: dimgrey;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, darkgrey 50%, #2d2f33 60%);
  border-radius: 7px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset #1f2124 0px 13px 72px 0px, inset #2d2f33  1px 2px 81px 0px, #2d2f33 0px 0px 16px;
  font-size: 2rem;
  color: #9ad4e6;
  text-shadow: black 2px 2px 16px;
  transition: all 0.3s; }

.label:hover {
  color: aqua;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px;
  letter-spacing: 3px; }

.labelContainer input:checked + label,
.answers input:checked + label {
  color: aqua;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px; }

a {
  text-decoration: none; }

.labelContainer {
  margin: 20px auto;
  padding: 20px;
  border-radius: 7px;
  box-shadow: inset rgba(0, 0, 0, 0.7) 0px 1px 3px, grey 0 1px 5px;
  background-color: rgba(0, 0, 0, 0.2); }

.labelContainer .label:hover {
  letter-spacing: 2px; }

.btn {
  background: none;
  background-color: #f82330;
  box-shadow: inset red 0px 6px 20px 0px, inset #531317 0px -5px 20px, inset white -7px 4px 20px 0px, black 0px 0px 10px;
  color: gainsboro;
  border: solid 1px black;
  padding: 20px 0;
  width: 300px;
  font-size: 18px;
  border-radius: 8px;
  transition: .3s;
  overflow: hidden;
  position: relative;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.btn:focus {
  outline: none; }

.btn:before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  transform: translateX(-130px) skewX(-15deg); }

.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg); }

.btn:hover {
  background: none;
  cursor: pointer;
  background-color: red;
  letter-spacing: 3px;
  color: white; }

.btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s; }

.visuallyHidden {
  display: none; }

.landingPage {
  text-align: center;
  margin: 0 auto; }
  .landingPage h1 {
    margin: 0;
    margin: 60px;
    font-size: 5rem; }
  .landingPage .robotsEight,
  .landingPage .robotsFour {
    border-bottom: 4px solid black;
    margin-top: -50px;
    width: 60%; }
  .landingPage .labelContainer {
    width: 90%; }
  .landingPage .robotsFour {
    display: none; }
  .landingPage .label {
    margin: 10px;
    width: calc(50% - 20px);
    display: inline-block; }
  @media (max-width: 600px) {
    .landingPage .label {
      width: calc(100% - 20px); }
    .landingPage .robotsEight {
      display: none; }
    .landingPage .robotsFour {
      display: block;
      margin: 0 auto; } }

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center; }

.containerWrapper {
  width: 70%;
  margin: 0 auto; }

.playerContainer {
  position: absolute;
  transition: 0.3s; }
  .playerContainer .player {
    float: left; }

.player {
  position: relative;
  text-align: center; }

.playerName {
  position: relative; }

.previousPlayer,
.nextPlayer {
  border: 0;
  position: absolute;
  background-color: grey;
  fill: #9ad4e6;
  padding-top: 3px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: dimgrey 0px 0px 20px;
  transition: all 0.5s;
  top: -6px; }
  .previousPlayer:hover,
  .nextPlayer:hover {
    fill: aqua;
    box-shadow: black 0px 0px 20px; }

.previousPlayer {
  left: 0; }

.nextPlayer {
  right: 0; }

.usernameForm {
  width: 100%; }

.submitUsername,
.enterUsername,
.submitUsers {
  margin: 0 auto;
  margin: 5px 0;
  padding: 15px; }

.player .labelContainer {
  width: 100%;
  padding-top: 20px;
  float: left;
  position: relative;
  text-align: center; }

.player .label {
  width: calc(30% - 10px);
  font-size: 1rem; }

.player .enterUsername {
  width: calc(70% - 10px);
  float: left;
  clear: both;
  margin-right: 20px;
  padding: 18px;
  border-radius: 8px;
  background-color: #c5c5c5;
  border: 0; }

.avatar img {
  width: 250px;
  height: 250px; }

.avatar {
  width: 100%; }

@media (max-width: 720px) {
  .player .label,
  .player .enterUsername {
    width: 100%; } }

@media (max-width: 430px) {
  .avatar img {
    width: 200px;
    height: 200px; }
  .submitUsers {
    width: 70%; } }

.startingPageContainer {
  width: 70%;
  margin: 0 auto; }

.startingPageContainer .label {
  margin: 10px 0; }

.startingPageContainer .btn {
  margin: 0; }

.startingPageContainer .labelContainer {
  width: 100%;
  max-width: 300px;
  margin-top: 50px; }

@media (max-width: 430px) {
  .startingPageContainer .btn {
    width: 100%; } }

.choiceContainer .btn {
  width: 300px;
  margin: 0 auto; }

.choiceContainer .labelContainer {
  margin: 10px;
  margin-top: 50px;
  padding: 0;
  padding-top: 0; }

.categorySection,
.difficultySection {
  width: calc(50% - 20px);
  float: left;
  margin: 10px; }

.choiceContainer label {
  font-size: 1rem; }

.choiceContainer .btn {
  margin: 50px 0 100px 0; }

.categorySection .label {
  width: calc(50% - 20px);
  float: left;
  margin: 10px; }

.difficultySection .label {
  width: calc(100% - 20px);
  float: left;
  margin: 10px; }

@media (max-width: 700px) {
  .choiceContainer .labelContainer {
    margin: 50px 0 20px 0; }
  .categorySection,
  .difficultySection {
    width: 100%; } }

@media (max-width: 430px) {
  .choiceContainer .btn {
    width: 100%; } }

.questionsPageContainer {
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden; }

.hostQuestion img {
  position: absolute;
  left: 12%;
  top: 10%;
  width: 15%;
  border: 2px solid black; }

.hostQuestion p {
  color: black; }

.speechBubble {
  position: relative;
  margin: 40px auto;
  padding: 30px 20px;
  width: 80%;
  border-radius: 10px;
  transform: rotate(0deg) rotateY(-5deg);
  background: black;
  text-align: center; }

.speechBubble:before, .speechBubble:after {
  position: absolute;
  z-index: -1;
  content: ''; }

.speechBubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(1.5deg) translate(10px, -1px) scale(1.02);
  background: #c4c4c4;
  border: 1px solid black; }

.answersContainer {
  width: 500px;
  text-align: center; }

.playerAnswers {
  display: inline-block;
  min-width: 25%; }

.answers {
  display: block; }

.playerSubmit {
  display: inline-block; }

.answers .label {
  width: 100%;
  font-weight: 600;
  letter-spacing: none; }

.answers .label:hover {
  letter-spacing: normal; }

.answers {
  display: block;
  padding: 15px; }

.answers input[type="radio"] {
  position: fixed;
  opacity: 0; }

.players {
  position: relative;
  height: 67vh;
  overflow-x: hidden;
  margin-top: -20px; }
  .players .player {
    position: absolute;
    transition: 0.3s;
    transform: translateX(-50%);
    width: 100%; }
  .players .player2 {
    left: 100%; }
  .players .player3 {
    left: 200%; }
  .players .player4 {
    left: 400%; }

.playerSubmit h2 {
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 3px black; }

.playerSubmit img {
  border: 2px solid black;
  border-radius: 50%;
  width: 65%;
  background-color: #c4c4c4;
  box-shadow: inset 0px 0px 83px #fefefe; }

.playerSubmit button {
  display: block;
  width: 55%;
  margin: 0 auto;
  margin-top: 15px; }

@media (max-width: 500px) {
  .playerSubmit {
    width: 70%; }
  .playerAnswers {
    width: 100%;
    margin: 0 auto; }
  .answers {
    padding: 0;
    margin-left: 10px;
    float: left;
    width: 22%; }
  .answers .label {
    height: 75px; } }

.wrapper {
  margin: 0 auto; }

body {
  background-color: dimgrey; }

h2 {
  color: #9ad4e6; }
