html {
  font-size: 62.5%;
  color: white; }

h1, p, button, label {
  font-family: 'Montserrat', sans-serif;
  color: white; }

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #9ad4e6;
  text-shadow: 1px 1px 3px black; }

h2 {
  font-size: 2rem; }

p, label {
  font-size: 1.5rem; }

button {
  font-weight: 600; }

.label {
  display: block;
  width: 100%;
  padding: 20px 0;
  background: dimgrey;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, darkgrey 50%, #2d2f33 60%);
  border-radius: 7px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset #1f2124 0px 13px 72px 0px, inset #2d2f33  1px 2px 81px 0px, #2d2f33 0px 0px 16px;
  font-size: 2rem;
  color: #9ad4e6;
  text-shadow: black 2px 2px 16px;
  transition: all 0.3s; }

.label:hover {
  color: aqua;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px;
  letter-spacing: 3px; }

.labelContainer input:checked + label,
.answers input:checked + label {
  color: aqua;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px; }

a {
  text-decoration: none; }

.labelContainer {
  margin: 20px auto;
  padding: 20px;
  border-radius: 7px;
  box-shadow: inset rgba(0, 0, 0, 0.7) 0px 1px 3px, grey 0 1px 5px;
  background-color: rgba(0, 0, 0, 0.2); }

.labelContainer .label:hover {
  letter-spacing: 2px; }

.btn {
  background: none;
  background-color: #f82330;
  box-shadow: inset red 0px 6px 20px 0px, inset #531317 0px -5px 20px, inset white -7px 4px 20px 0px, black 0px 0px 10px;
  color: gainsboro;
  border: solid 1px black;
  padding: 20px 0;
  width: 300px;
  font-size: 18px;
  border-radius: 8px;
  transition: .3s;
  overflow: hidden;
  position: relative;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.btn:focus {
  outline: none; }

.btn:before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  transform: translateX(-130px) skewX(-15deg); }

.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg); }

.btn:hover {
  background: none;
  cursor: pointer;
  background-color: red;
  letter-spacing: 3px;
  color: white; }

.btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s; }

.visuallyHidden {
  display: none; }

.landingPage {
  text-align: center;
  margin: 0 auto; }
  .landingPage h1 {
    margin: 0;
    margin: 60px;
    font-size: 5rem; }
  .landingPage .robotsEight,
  .landingPage .robotsFour {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: -50px; }
  .landingPage .labelContainer {
    width: 90%;
    margin-top: 0; }
  .landingPage .robotsFour {
    display: none; }
  .landingPage .label {
    margin: 10px;
    width: calc(50% - 20px);
    display: inline-block; }
  @media (max-width: 600px) {
    .landingPage .label {
      width: calc(100% - 20px); }
    .landingPage .robotsEight {
      display: none; }
    .landingPage .robotsFour {
      display: block;
      margin: 0 auto; } }

.results section {
  text-align: center; }

.results h1 {
  text-align: center; }

.results h2 {
  text-shadow: black 1px 1px 3px;
  text-transform: uppercase; }

.results p {
  padding: 25px; }

.results img {
  display: block; }

.results .btn {
  display: block;
  margin: 50px auto 100px auto; }

.results .player {
  margin: 20px;
  overflow: hidden;
  display: inline-block;
  width: 350px;
  text-align: center; }
  .results .player h3 {
    font-size: 3rem;
    font-weight: 500; }
  .results .player .wrongAnimation {
    position: absolute;
    right: -90px;
    top: 0px;
    animation: wrench 1.5s infinite linear;
    transform: rotate(0);
    width: auto;
    height: auto; }
  .results .player .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: wrongOverlay 1.5s infinite; }
  .results .player .correct, .results .player .wrong {
    position: absolute;
    top: 65%;
    right: 50%;
    transform: translateX(50%);
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 9px #000;
    margin: 0; }
  .results .player .wrong {
    color: red; }
  .results .player .correct {
    color: lime; }

.results .avatar {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 50%; }
  .results .avatar .avatarImage {
    border-radius: 50%;
    margin: 0;
    background-color: #c4c4c4; }

@media (max-width: 420px) {
  .results .player {
    max-width: 300px;
    margin: 0 auto; }
  .results .avatar img {
    width: 250px;
    height: 250px; } }

.confetti {
  position: absolute;
  top: -16px;
  width: 8px;
  height: 16px; }

@keyframes wrench {
  50% {
    right: 80px;
    top: 80px;
    transform: rotate(-470deg); }
  100% {
    right: -100px;
    top: 260px; } }

@keyframes wrongOverlay {
  46% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background: rgba(255, 0, 0, 0.363); } }

.confetti0 {
  animation: drop0 linear 3s infinite;
  animation-delay: 2s;
  left: 487px;
  background-color: #e3ff66;
  transform: rotate(322deg) rotateY(68deg);
  transition: 0.3s; }

@keyframes drop0 {
  to {
    top: calc(100%);
    left: 273px;
    transform: rotate(195deg); } }

.confetti1 {
  animation: drop1 linear 3s infinite;
  animation-delay: 2.9s;
  left: 320px;
  background-color: #cc66ff;
  transform: rotate(326deg) rotateY(168deg);
  transition: 0.3s; }

@keyframes drop1 {
  to {
    top: calc(100%);
    left: 66px;
    transform: rotate(1deg); } }

.confetti2 {
  animation: drop2 linear 3s infinite;
  animation-delay: 5s;
  left: 326px;
  background-color: #ff6673;
  transform: rotate(232deg) rotateY(125deg);
  transition: 0.3s; }

@keyframes drop2 {
  to {
    top: calc(100%);
    left: 139px;
    transform: rotate(5deg); } }

.confetti3 {
  animation: drop3 linear 3s infinite;
  animation-delay: 0.9s;
  left: 343px;
  background-color: #66ffb5;
  transform: rotate(18deg) rotateY(211deg);
  transition: 0.3s; }

@keyframes drop3 {
  to {
    top: calc(100%);
    left: 459px;
    transform: rotate(89deg); } }

.confetti4 {
  animation: drop4 linear 3s infinite;
  animation-delay: 1.7s;
  left: 222px;
  background-color: #ff66a1;
  transform: rotate(37deg) rotateY(164deg);
  transition: 0.3s; }

@keyframes drop4 {
  to {
    top: calc(100%);
    left: 174px;
    transform: rotate(38deg); } }

.confetti5 {
  animation: drop5 linear 3s infinite;
  animation-delay: 1s;
  left: 3px;
  background-color: #66ff8c;
  transform: rotate(265deg) rotateY(323deg);
  transition: 0.3s; }

@keyframes drop5 {
  to {
    top: calc(100%);
    left: 318px;
    transform: rotate(235deg); } }

.confetti6 {
  animation: drop6 linear 3s infinite;
  animation-delay: 0.3s;
  left: 364px;
  background-color: #ffff66;
  transform: rotate(148deg) rotateY(305deg);
  transition: 0.3s; }

@keyframes drop6 {
  to {
    top: calc(100%);
    left: 230px;
    transform: rotate(62deg); } }

.confetti7 {
  animation: drop7 linear 3s infinite;
  animation-delay: 0.6s;
  left: 157px;
  background-color: #6966ff;
  transform: rotate(103deg) rotateY(164deg);
  transition: 0.3s; }

@keyframes drop7 {
  to {
    top: calc(100%);
    left: 14px;
    transform: rotate(203deg); } }

.confetti8 {
  animation: drop8 linear 3s infinite;
  animation-delay: 3.6s;
  left: 38px;
  background-color: #fff766;
  transform: rotate(215deg) rotateY(153deg);
  transition: 0.3s; }

@keyframes drop8 {
  to {
    top: calc(100%);
    left: 184px;
    transform: rotate(26deg); } }

.confetti9 {
  animation: drop9 linear 3s infinite;
  animation-delay: 3.3s;
  left: 345px;
  background-color: #66ff7a;
  transform: rotate(27deg) rotateY(215deg);
  transition: 0.3s; }

@keyframes drop9 {
  to {
    top: calc(100%);
    left: 249px;
    transform: rotate(273deg); } }

.confetti10 {
  animation: drop10 linear 3s infinite;
  animation-delay: 2.1s;
  left: 11px;
  background-color: #e066ff;
  transform: rotate(135deg) rotateY(162deg);
  transition: 0.3s; }

@keyframes drop10 {
  to {
    top: calc(100%);
    left: 379px;
    transform: rotate(20deg); } }

.confetti11 {
  animation: drop11 linear 3s infinite;
  animation-delay: 1.5s;
  left: 68px;
  background-color: #c7ff66;
  transform: rotate(92deg) rotateY(88deg);
  transition: 0.3s; }

@keyframes drop11 {
  to {
    top: calc(100%);
    left: 206px;
    transform: rotate(55deg); } }

.confetti12 {
  animation: drop12 linear 3s infinite;
  animation-delay: 2.8s;
  left: 263px;
  background-color: #cc66ff;
  transform: rotate(112deg) rotateY(185deg);
  transition: 0.3s; }

@keyframes drop12 {
  to {
    top: calc(100%);
    left: 359px;
    transform: rotate(173deg); } }

.confetti13 {
  animation: drop13 linear 3s infinite;
  animation-delay: 2.5s;
  left: 132px;
  background-color: #ffb366;
  transform: rotate(343deg) rotateY(126deg);
  transition: 0.3s; }

@keyframes drop13 {
  to {
    top: calc(100%);
    left: 121px;
    transform: rotate(163deg); } }

.confetti14 {
  animation: drop14 linear 3s infinite;
  animation-delay: 1.3s;
  left: 426px;
  background-color: #66ff87;
  transform: rotate(93deg) rotateY(259deg);
  transition: 0.3s; }

@keyframes drop14 {
  to {
    top: calc(100%);
    left: 495px;
    transform: rotate(290deg); } }

.confetti15 {
  animation: drop15 linear 3s infinite;
  animation-delay: 3.1s;
  left: 384px;
  background-color: #ff6699;
  transform: rotate(300deg) rotateY(319deg);
  transition: 0.3s; }

@keyframes drop15 {
  to {
    top: calc(100%);
    left: 57px;
    transform: rotate(149deg); } }

.confetti16 {
  animation: drop16 linear 3s infinite;
  animation-delay: 0.3s;
  left: 43px;
  background-color: #66ffa1;
  transform: rotate(82deg) rotateY(33deg);
  transition: 0.3s; }

@keyframes drop16 {
  to {
    top: calc(100%);
    left: 230px;
    transform: rotate(122deg); } }

.confetti17 {
  animation: drop17 linear 3s infinite;
  animation-delay: 2.7s;
  left: 207px;
  background-color: #de66ff;
  transform: rotate(134deg) rotateY(342deg);
  transition: 0.3s; }

@keyframes drop17 {
  to {
    top: calc(100%);
    left: 33px;
    transform: rotate(74deg); } }

.confetti18 {
  animation: drop18 linear 3s infinite;
  animation-delay: 3s;
  left: 107px;
  background-color: #ffcf66;
  transform: rotate(352deg) rotateY(299deg);
  transition: 0.3s; }

@keyframes drop18 {
  to {
    top: calc(100%);
    left: 212px;
    transform: rotate(216deg); } }

.confetti19 {
  animation: drop19 linear 3s infinite;
  animation-delay: 2.7s;
  left: 65px;
  background-color: #ffcc66;
  transform: rotate(309deg) rotateY(138deg);
  transition: 0.3s; }

@keyframes drop19 {
  to {
    top: calc(100%);
    left: 357px;
    transform: rotate(265deg); } }

.confetti20 {
  animation: drop20 linear 3s infinite;
  animation-delay: 2.8s;
  left: 461px;
  background-color: #faff66;
  transform: rotate(230deg) rotateY(221deg);
  transition: 0.3s; }

@keyframes drop20 {
  to {
    top: calc(100%);
    left: 254px;
    transform: rotate(34deg); } }

.confetti21 {
  animation: drop21 linear 3s infinite;
  animation-delay: 3.4s;
  left: 408px;
  background-color: #9cff66;
  transform: rotate(252deg) rotateY(214deg);
  transition: 0.3s; }

@keyframes drop21 {
  to {
    top: calc(100%);
    left: 372px;
    transform: rotate(322deg); } }

.confetti22 {
  animation: drop22 linear 3s infinite;
  animation-delay: 3.4s;
  left: 115px;
  background-color: #f2ff66;
  transform: rotate(331deg) rotateY(192deg);
  transition: 0.3s; }

@keyframes drop22 {
  to {
    top: calc(100%);
    left: 144px;
    transform: rotate(237deg); } }

.confetti23 {
  animation: drop23 linear 3s infinite;
  animation-delay: 4.6s;
  left: 186px;
  background-color: #7dff66;
  transform: rotate(38deg) rotateY(322deg);
  transition: 0.3s; }

@keyframes drop23 {
  to {
    top: calc(100%);
    left: 185px;
    transform: rotate(10deg); } }

.confetti24 {
  animation: drop24 linear 3s infinite;
  animation-delay: 1.3s;
  left: 59px;
  background-color: #9966ff;
  transform: rotate(296deg) rotateY(190deg);
  transition: 0.3s; }

@keyframes drop24 {
  to {
    top: calc(100%);
    left: 76px;
    transform: rotate(289deg); } }

.confetti25 {
  animation: drop25 linear 3s infinite;
  animation-delay: 0.3s;
  left: 499px;
  background-color: #c2ff66;
  transform: rotate(233deg) rotateY(76deg);
  transition: 0.3s; }

@keyframes drop25 {
  to {
    top: calc(100%);
    left: 32px;
    transform: rotate(178deg); } }

.confetti26 {
  animation: drop26 linear 3s infinite;
  animation-delay: 1.3s;
  left: 242px;
  background-color: #cf66ff;
  transform: rotate(22deg) rotateY(339deg);
  transition: 0.3s; }

@keyframes drop26 {
  to {
    top: calc(100%);
    left: 325px;
    transform: rotate(312deg); } }

.confetti27 {
  animation: drop27 linear 3s infinite;
  animation-delay: 4.8s;
  left: 361px;
  background-color: #a366ff;
  transform: rotate(319deg) rotateY(206deg);
  transition: 0.3s; }

@keyframes drop27 {
  to {
    top: calc(100%);
    left: 362px;
    transform: rotate(137deg); } }

.confetti28 {
  animation: drop28 linear 3s infinite;
  animation-delay: 3.1s;
  left: 322px;
  background-color: #ff6696;
  transform: rotate(174deg) rotateY(78deg);
  transition: 0.3s; }

@keyframes drop28 {
  to {
    top: calc(100%);
    left: 7px;
    transform: rotate(63deg); } }

.confetti29 {
  animation: drop29 linear 3s infinite;
  animation-delay: 3.6s;
  left: 389px;
  background-color: #ff66c2;
  transform: rotate(329deg) rotateY(82deg);
  transition: 0.3s; }

@keyframes drop29 {
  to {
    top: calc(100%);
    left: 108px;
    transform: rotate(235deg); } }

.confetti30 {
  animation: drop30 linear 3s infinite;
  animation-delay: 0.5s;
  left: 486px;
  background-color: #66edff;
  transform: rotate(182deg) rotateY(131deg);
  transition: 0.3s; }

@keyframes drop30 {
  to {
    top: calc(100%);
    left: 65px;
    transform: rotate(351deg); } }

.confetti31 {
  animation: drop31 linear 3s infinite;
  animation-delay: 4.2s;
  left: 69px;
  background-color: #cf66ff;
  transform: rotate(130deg) rotateY(315deg);
  transition: 0.3s; }

@keyframes drop31 {
  to {
    top: calc(100%);
    left: 60px;
    transform: rotate(338deg); } }

.confetti32 {
  animation: drop32 linear 3s infinite;
  animation-delay: 3.2s;
  left: 258px;
  background-color: #66ffad;
  transform: rotate(264deg) rotateY(132deg);
  transition: 0.3s; }

@keyframes drop32 {
  to {
    top: calc(100%);
    left: 366px;
    transform: rotate(23deg); } }

.confetti33 {
  animation: drop33 linear 3s infinite;
  animation-delay: 3.2s;
  left: 148px;
  background-color: #9666ff;
  transform: rotate(323deg) rotateY(3deg);
  transition: 0.3s; }

@keyframes drop33 {
  to {
    top: calc(100%);
    left: 20px;
    transform: rotate(314deg); } }

.confetti34 {
  animation: drop34 linear 3s infinite;
  animation-delay: 0.8s;
  left: 424px;
  background-color: #a866ff;
  transform: rotate(167deg) rotateY(235deg);
  transition: 0.3s; }

@keyframes drop34 {
  to {
    top: calc(100%);
    left: 105px;
    transform: rotate(247deg); } }

.confetti35 {
  animation: drop35 linear 3s infinite;
  animation-delay: 2.8s;
  left: 112px;
  background-color: #66ffe6;
  transform: rotate(91deg) rotateY(248deg);
  transition: 0.3s; }

@keyframes drop35 {
  to {
    top: calc(100%);
    left: 460px;
    transform: rotate(181deg); } }

.confetti36 {
  animation: drop36 linear 3s infinite;
  animation-delay: 0.6s;
  left: 232px;
  background-color: #de66ff;
  transform: rotate(96deg) rotateY(73deg);
  transition: 0.3s; }

@keyframes drop36 {
  to {
    top: calc(100%);
    left: 269px;
    transform: rotate(170deg); } }

.confetti37 {
  animation: drop37 linear 3s infinite;
  animation-delay: 2.8s;
  left: 302px;
  background-color: #66cfff;
  transform: rotate(22deg) rotateY(226deg);
  transition: 0.3s; }

@keyframes drop37 {
  to {
    top: calc(100%);
    left: 115px;
    transform: rotate(151deg); } }

.confetti38 {
  animation: drop38 linear 3s infinite;
  animation-delay: 4.9s;
  left: 360px;
  background-color: #ffc766;
  transform: rotate(145deg) rotateY(34deg);
  transition: 0.3s; }

@keyframes drop38 {
  to {
    top: calc(100%);
    left: 237px;
    transform: rotate(62deg); } }

.confetti39 {
  animation: drop39 linear 3s infinite;
  animation-delay: 4.3s;
  left: 436px;
  background-color: #85ff66;
  transform: rotate(330deg) rotateY(356deg);
  transition: 0.3s; }

@keyframes drop39 {
  to {
    top: calc(100%);
    left: 354px;
    transform: rotate(127deg); } }

.confetti40 {
  animation: drop40 linear 3s infinite;
  animation-delay: 1.4s;
  left: 322px;
  background-color: #70ff66;
  transform: rotate(291deg) rotateY(185deg);
  transition: 0.3s; }

@keyframes drop40 {
  to {
    top: calc(100%);
    left: 248px;
    transform: rotate(45deg); } }

.confetti41 {
  animation: drop41 linear 3s infinite;
  animation-delay: 1.4s;
  left: 100px;
  background-color: #ff6694;
  transform: rotate(324deg) rotateY(249deg);
  transition: 0.3s; }

@keyframes drop41 {
  to {
    top: calc(100%);
    left: 157px;
    transform: rotate(221deg); } }

.confetti42 {
  animation: drop42 linear 3s infinite;
  animation-delay: 0.4s;
  left: 255px;
  background-color: #ffd966;
  transform: rotate(269deg) rotateY(194deg);
  transition: 0.3s; }

@keyframes drop42 {
  to {
    top: calc(100%);
    left: 423px;
    transform: rotate(360deg); } }

.confetti43 {
  animation: drop43 linear 3s infinite;
  animation-delay: 2.8s;
  left: 260px;
  background-color: #9cff66;
  transform: rotate(270deg) rotateY(41deg);
  transition: 0.3s; }

@keyframes drop43 {
  to {
    top: calc(100%);
    left: 374px;
    transform: rotate(1deg); } }

.confetti44 {
  animation: drop44 linear 3s infinite;
  animation-delay: 2s;
  left: 348px;
  background-color: #8766ff;
  transform: rotate(133deg) rotateY(297deg);
  transition: 0.3s; }

@keyframes drop44 {
  to {
    top: calc(100%);
    left: 174px;
    transform: rotate(47deg); } }

.confetti45 {
  animation: drop45 linear 3s infinite;
  animation-delay: 2.6s;
  left: 179px;
  background-color: #66ffb3;
  transform: rotate(337deg) rotateY(3deg);
  transition: 0.3s; }

@keyframes drop45 {
  to {
    top: calc(100%);
    left: 271px;
    transform: rotate(335deg); } }

.confetti46 {
  animation: drop46 linear 3s infinite;
  animation-delay: 0.3s;
  left: 254px;
  background-color: #fff566;
  transform: rotate(34deg) rotateY(16deg);
  transition: 0.3s; }

@keyframes drop46 {
  to {
    top: calc(100%);
    left: 54px;
    transform: rotate(350deg); } }

.confetti47 {
  animation: drop47 linear 3s infinite;
  animation-delay: 4s;
  left: 13px;
  background-color: #ff66f0;
  transform: rotate(68deg) rotateY(76deg);
  transition: 0.3s; }

@keyframes drop47 {
  to {
    top: calc(100%);
    left: 356px;
    transform: rotate(293deg); } }

.confetti48 {
  animation: drop48 linear 3s infinite;
  animation-delay: 2.8s;
  left: 41px;
  background-color: #66cfff;
  transform: rotate(92deg) rotateY(286deg);
  transition: 0.3s; }

@keyframes drop48 {
  to {
    top: calc(100%);
    left: 47px;
    transform: rotate(171deg); } }

.confetti49 {
  animation: drop49 linear 3s infinite;
  animation-delay: 1.1s;
  left: 279px;
  background-color: #94ff66;
  transform: rotate(82deg) rotateY(333deg);
  transition: 0.3s; }

@keyframes drop49 {
  to {
    top: calc(100%);
    left: 324px;
    transform: rotate(310deg); } }

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center; }

.containerWrapper {
  width: 70%;
  margin: 0 auto; }

.playerContainer {
  position: absolute;
  transition: 0.3s; }
  .playerContainer .player {
    float: left; }

.player {
  position: relative;
  text-align: center; }

.playerName {
  position: relative; }

.previousPlayer,
.nextPlayer {
  border: 0;
  position: absolute;
  background-color: grey;
  fill: #9ad4e6;
  padding-top: 3px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: dimgrey 0px 0px 20px;
  transition: all 0.5s;
  top: -6px; }
  .previousPlayer:hover,
  .nextPlayer:hover {
    fill: aqua;
    box-shadow: black 0px 0px 20px; }

.previousPlayer {
  left: 0; }

.nextPlayer {
  right: 0; }

.usernameForm {
  width: 100%; }

.submitUsername,
.enterUsername,
.submitUsers {
  margin: 0 auto;
  margin: 5px 0;
  padding: 15px; }

.player .labelContainer {
  width: 100%;
  padding-top: 20px;
  float: left;
  position: relative;
  text-align: center; }

.player .label {
  width: calc(30% - 10px);
  font-size: 1rem; }

.player .enterUsername {
  width: calc(70% - 10px);
  float: left;
  clear: both;
  margin-right: 20px;
  padding: 18px;
  border-radius: 8px;
  background-color: #c5c5c5;
  border: 0; }

.avatar img {
  width: 250px;
  height: 250px; }

.avatar {
  width: 100%;
  max-width: 864px; }

@media (max-width: 720px) {
  .player .label,
  .player .enterUsername {
    width: 100%; } }

@media (max-width: 430px) {
  .avatar img {
    width: 200px;
    height: 200px; }
  .submitUsers {
    width: 70%; } }

.startingPageContainer {
  width: 70%;
  margin: 0 auto; }

.startingPageContainer .label {
  margin: 10px 0; }

.startingPageContainer .btn {
  margin: 0; }

.startingPageContainer .labelContainer {
  width: 100%;
  max-width: 300px;
  margin-top: 50px; }

@media (max-width: 430px) {
  .startingPageContainer .btn {
    width: 100%; } }

.choiceContainer .btn {
  width: 300px;
  margin: 0 auto; }

.choiceContainer .labelContainer {
  margin: 10px;
  margin-top: 50px;
  padding: 0;
  padding-top: 0; }

.categorySection,
.difficultySection {
  width: calc(50% - 20px);
  float: left;
  margin: 10px; }

.choiceContainer label {
  font-size: 1rem; }

.choiceContainer .btn {
  margin: 50px 0 100px 0; }

.categorySection .label {
  width: calc(50% - 20px);
  float: left;
  margin: 10px; }

.difficultySection .label {
  width: calc(100% - 20px);
  float: left;
  margin: 10px; }

@media (max-width: 700px) {
  .choiceContainer .labelContainer {
    margin: 50px 0 20px 0; }
  .categorySection,
  .difficultySection {
    width: 100%; } }

@media (max-width: 430px) {
  .choiceContainer .btn {
    width: 100%; } }

.questionsPageContainer {
  text-align: center;
  margin: 0 auto;
  overflow: hidden; }

.hostQuestion img {
  position: absolute;
  left: 12%;
  top: 10%;
  width: 15%;
  border: 2px solid black; }

.hostQuestion p {
  color: black; }

.speechBubble {
  position: relative;
  margin: 40px auto;
  padding: 30px 20px;
  width: 80%;
  border-radius: 10px;
  transform: rotate(0deg) rotateY(-5deg);
  background: black;
  text-align: center; }

.speechBubble:before, .speechBubble:after {
  position: absolute;
  z-index: -1;
  content: ''; }

.speechBubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(1.5deg) translate(10px, -1px) scale(1.02);
  background: #c4c4c4;
  border: 1px solid black; }

.answersContainer {
  width: 500px;
  text-align: center; }

.playerAnswers {
  display: inline-block;
  min-width: 25%; }

.answers {
  display: block; }

.playerSubmit {
  display: inline-block; }

.answers .label {
  width: 100%;
  font-weight: 600;
  letter-spacing: none; }

.answers .label:hover {
  letter-spacing: normal; }

.answers {
  display: block;
  padding: 15px; }

.answers input[type="radio"] {
  position: fixed;
  opacity: 0; }

.players {
  position: relative;
  height: 60vh;
  overflow: hidden;
  margin-top: -20px; }
  .players .player {
    position: absolute;
    transition: 0.3s;
    transform: translateX(-50%);
    width: 100%; }
  .players .player2 {
    left: 100%; }
  .players .player3 {
    left: 200%; }
  .players .player4 {
    left: 400%; }

.playerSubmit h2 {
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 3px black; }

.playerSubmit img {
  border: 2px solid black;
  border-radius: 50%;
  width: 65%;
  background-color: #c4c4c4;
  box-shadow: inset 0px 0px 83px #fefefe; }

.playerSubmit button {
  display: block;
  width: 55%;
  margin: 0 auto;
  margin-top: 15px; }

.wrapper {
  margin: 0 auto; }

body {
  background-color: dimgrey; }

h2 {
  color: #9ad4e6; }
