article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  color: white; }

h1, p, button, label {
  font-family: 'Montserrat', sans-serif;
  color: white; }

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #9ad4e6;
  text-shadow: 1px 1px 3px black; }

h2 {
  font-size: 2rem; }

p, label {
  font-size: 1.5rem; }

button {
  font-weight: 600; }

.label {
  display: block;
  width: 100%;
  padding: 20px 0;
  background: dimgrey;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, darkgrey 50%, #2d2f33 60%);
  border-radius: 7px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset #1f2124 0px 13px 72px 0px, inset #2d2f33  1px 2px 81px 0px, #2d2f33 0px 0px 16px;
  font-size: 2rem;
  color: #9ad4e6;
  text-shadow: black 2px 2px 16px;
  transition: all 0.3s; }

.label:hover {
  color: aqua;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px;
  letter-spacing: 3px; }

.labelContainer input:checked + label,
.answers input:checked + label {
  color: aqua;
  box-shadow: inset dimgrey 0px 1px 4px 0px, inset black 0px 13px 72px 0px, inset black 1px 2px 81px 0px, aqua 0px -6px 44px -15px, aqua 0px 6px 44px -15px; }

a {
  text-decoration: none; }

.labelContainer {
  margin: 20px auto;
  padding: 20px;
  border-radius: 7px;
  box-shadow: inset rgba(0, 0, 0, 0.7) 0px 1px 3px, grey 0 1px 5px;
  background-color: rgba(0, 0, 0, 0.2); }

.labelContainer .label:hover {
  letter-spacing: 2px; }

.btn {
  background: none;
  background-color: #f82330;
  box-shadow: inset red 0px 6px 20px 0px, inset #531317 0px -5px 20px, inset white -7px 4px 20px 0px, black 0px 0px 10px;
  color: gainsboro;
  border: solid 1px black;
  padding: 20px 0;
  width: 300px;
  font-size: 18px;
  border-radius: 8px;
  transition: .3s;
  overflow: hidden;
  position: relative;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.btn:focus {
  outline: none; }

.btn:before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  transform: translateX(-130px) skewX(-15deg); }

.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg); }

.btn:hover {
  background: none;
  cursor: pointer;
  background-color: red;
  letter-spacing: 3px;
  color: white; }

.btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s; }

.visuallyHidden {
  display: none; }

.landingPage {
  text-align: center;
  margin: 0 auto; }
  .landingPage h1 {
    margin: 0;
    margin: 60px;
    font-size: 5rem; }
  .landingPage .robotsEight,
  .landingPage .robotsFour {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: -50px; }
  .landingPage .labelContainer {
    width: 90%;
    margin-top: 0; }
  .landingPage .robotsFour {
    display: none; }
  .landingPage .label {
    margin: 10px;
    width: calc(50% - 20px);
    display: inline-block; }
  @media (max-width: 600px) {
    .landingPage .label {
      width: calc(100% - 20px); }
    .landingPage .robotsEight {
      display: none; }
    .landingPage .robotsFour {
      display: block;
      margin: 0 auto; } }

.results section {
  text-align: center; }

.results h1 {
  text-align: center; }

.results h2 {
  text-shadow: black 1px 1px 3px;
  text-transform: uppercase; }

.results p {
  padding: 25px; }

.results img {
  display: block; }

.results .btn {
  display: block;
  margin: 50px auto 100px auto; }

.results .player {
  margin: 20px;
  overflow: hidden;
  display: inline-block;
  width: 350px;
  text-align: center; }
  .results .player h3 {
    font-size: 3rem;
    font-weight: 500; }
  .results .player .wrongAnimation {
    position: absolute;
    right: -90px;
    top: 0px;
    animation: wrench 1.5s infinite linear;
    transform: rotate(0);
    width: auto;
    height: auto; }
  .results .player .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: wrongOverlay 1.5s infinite; }
  .results .player .correct, .results .player .wrong {
    position: absolute;
    top: 65%;
    right: 50%;
    transform: translateX(50%);
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 9px #000;
    margin: 0; }
  .results .player .wrong {
    color: red; }
  .results .player .correct {
    color: lime; }

.results .avatar {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 50%; }
  .results .avatar .avatarImage {
    border-radius: 50%;
    margin: 0;
    background-color: #c4c4c4; }

@media (max-width: 420px) {
  .results .player {
    max-width: 300px;
    margin: 0 auto; }
  .results .avatar img {
    width: 250px;
    height: 250px; } }

.confetti {
  position: absolute;
  top: -16px;
  width: 8px;
  height: 16px; }

@keyframes wrench {
  50% {
    right: 80px;
    top: 80px;
    transform: rotate(-470deg); }
  100% {
    right: -100px;
    top: 260px; } }

@keyframes wrongOverlay {
  46% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background: rgba(255, 0, 0, 0.363); } }

.confetti0 {
  animation: drop0 linear 3s infinite;
  animation-delay: 0.5s;
  left: 265px;
  background-color: #66fff7;
  transform: rotate(355deg) rotateY(278deg);
  transition: 0.3s; }

@keyframes drop0 {
  to {
    top: calc(100%);
    left: 164px;
    transform: rotate(248deg); } }

.confetti1 {
  animation: drop1 linear 3s infinite;
  animation-delay: 0.4s;
  left: 305px;
  background-color: #ff66fc;
  transform: rotate(341deg) rotateY(255deg);
  transition: 0.3s; }

@keyframes drop1 {
  to {
    top: calc(100%);
    left: 223px;
    transform: rotate(146deg); } }

.confetti2 {
  animation: drop2 linear 3s infinite;
  animation-delay: 4.7s;
  left: 377px;
  background-color: #66ffff;
  transform: rotate(59deg) rotateY(220deg);
  transition: 0.3s; }

@keyframes drop2 {
  to {
    top: calc(100%);
    left: 454px;
    transform: rotate(58deg); } }

.confetti3 {
  animation: drop3 linear 3s infinite;
  animation-delay: 3.3s;
  left: 234px;
  background-color: #6673ff;
  transform: rotate(151deg) rotateY(150deg);
  transition: 0.3s; }

@keyframes drop3 {
  to {
    top: calc(100%);
    left: 369px;
    transform: rotate(57deg); } }

.confetti4 {
  animation: drop4 linear 3s infinite;
  animation-delay: 2.8s;
  left: 17px;
  background-color: #6691ff;
  transform: rotate(271deg) rotateY(2deg);
  transition: 0.3s; }

@keyframes drop4 {
  to {
    top: calc(100%);
    left: 61px;
    transform: rotate(269deg); } }

.confetti5 {
  animation: drop5 linear 3s infinite;
  animation-delay: 3s;
  left: 254px;
  background-color: #ff66bf;
  transform: rotate(359deg) rotateY(103deg);
  transition: 0.3s; }

@keyframes drop5 {
  to {
    top: calc(100%);
    left: 7px;
    transform: rotate(113deg); } }

.confetti6 {
  animation: drop6 linear 3s infinite;
  animation-delay: 0.7s;
  left: 391px;
  background-color: #fffc66;
  transform: rotate(77deg) rotateY(48deg);
  transition: 0.3s; }

@keyframes drop6 {
  to {
    top: calc(100%);
    left: 363px;
    transform: rotate(151deg); } }

.confetti7 {
  animation: drop7 linear 3s infinite;
  animation-delay: 2.7s;
  left: 282px;
  background-color: #ffed66;
  transform: rotate(56deg) rotateY(240deg);
  transition: 0.3s; }

@keyframes drop7 {
  to {
    top: calc(100%);
    left: 380px;
    transform: rotate(182deg); } }

.confetti8 {
  animation: drop8 linear 3s infinite;
  animation-delay: 4.3s;
  left: 214px;
  background-color: #dbff66;
  transform: rotate(38deg) rotateY(244deg);
  transition: 0.3s; }

@keyframes drop8 {
  to {
    top: calc(100%);
    left: 209px;
    transform: rotate(77deg); } }

.confetti9 {
  animation: drop9 linear 3s infinite;
  animation-delay: 0.5s;
  left: 302px;
  background-color: #66a3ff;
  transform: rotate(57deg) rotateY(288deg);
  transition: 0.3s; }

@keyframes drop9 {
  to {
    top: calc(100%);
    left: 371px;
    transform: rotate(54deg); } }

.confetti10 {
  animation: drop10 linear 3s infinite;
  animation-delay: 2s;
  left: 119px;
  background-color: #66ffc7;
  transform: rotate(80deg) rotateY(179deg);
  transition: 0.3s; }

@keyframes drop10 {
  to {
    top: calc(100%);
    left: 467px;
    transform: rotate(181deg); } }

.confetti11 {
  animation: drop11 linear 3s infinite;
  animation-delay: 0.1s;
  left: 360px;
  background-color: #cf66ff;
  transform: rotate(35deg) rotateY(198deg);
  transition: 0.3s; }

@keyframes drop11 {
  to {
    top: calc(100%);
    left: 459px;
    transform: rotate(165deg); } }

.confetti12 {
  animation: drop12 linear 3s infinite;
  animation-delay: 3.5s;
  left: 353px;
  background-color: #ffc766;
  transform: rotate(261deg) rotateY(159deg);
  transition: 0.3s; }

@keyframes drop12 {
  to {
    top: calc(100%);
    left: 80px;
    transform: rotate(303deg); } }

.confetti13 {
  animation: drop13 linear 3s infinite;
  animation-delay: 4.6s;
  left: 185px;
  background-color: #66c4ff;
  transform: rotate(268deg) rotateY(44deg);
  transition: 0.3s; }

@keyframes drop13 {
  to {
    top: calc(100%);
    left: 242px;
    transform: rotate(9deg); } }

.confetti14 {
  animation: drop14 linear 3s infinite;
  animation-delay: 4.8s;
  left: 156px;
  background-color: #66d4ff;
  transform: rotate(346deg) rotateY(314deg);
  transition: 0.3s; }

@keyframes drop14 {
  to {
    top: calc(100%);
    left: 385px;
    transform: rotate(141deg); } }

.confetti15 {
  animation: drop15 linear 3s infinite;
  animation-delay: 1.5s;
  left: 119px;
  background-color: #e0ff66;
  transform: rotate(167deg) rotateY(112deg);
  transition: 0.3s; }

@keyframes drop15 {
  to {
    top: calc(100%);
    left: 222px;
    transform: rotate(189deg); } }

.confetti16 {
  animation: drop16 linear 3s infinite;
  animation-delay: 4.8s;
  left: 367px;
  background-color: #e666ff;
  transform: rotate(348deg) rotateY(96deg);
  transition: 0.3s; }

@keyframes drop16 {
  to {
    top: calc(100%);
    left: 482px;
    transform: rotate(138deg); } }

.confetti17 {
  animation: drop17 linear 3s infinite;
  animation-delay: 0.9s;
  left: 296px;
  background-color: #f5ff66;
  transform: rotate(217deg) rotateY(278deg);
  transition: 0.3s; }

@keyframes drop17 {
  to {
    top: calc(100%);
    left: 76px;
    transform: rotate(81deg); } }

.confetti18 {
  animation: drop18 linear 3s infinite;
  animation-delay: 4.3s;
  left: 40px;
  background-color: #66dbff;
  transform: rotate(138deg) rotateY(170deg);
  transition: 0.3s; }

@keyframes drop18 {
  to {
    top: calc(100%);
    left: 122px;
    transform: rotate(260deg); } }

.confetti19 {
  animation: drop19 linear 3s infinite;
  animation-delay: 3.9s;
  left: 131px;
  background-color: #66ffc2;
  transform: rotate(357deg) rotateY(136deg);
  transition: 0.3s; }

@keyframes drop19 {
  to {
    top: calc(100%);
    left: 390px;
    transform: rotate(322deg); } }

.confetti20 {
  animation: drop20 linear 3s infinite;
  animation-delay: 4.3s;
  left: 423px;
  background-color: #ffcf66;
  transform: rotate(299deg) rotateY(274deg);
  transition: 0.3s; }

@keyframes drop20 {
  to {
    top: calc(100%);
    left: 441px;
    transform: rotate(67deg); } }

.confetti21 {
  animation: drop21 linear 3s infinite;
  animation-delay: 0.5s;
  left: 19px;
  background-color: #ff6b66;
  transform: rotate(203deg) rotateY(248deg);
  transition: 0.3s; }

@keyframes drop21 {
  to {
    top: calc(100%);
    left: 490px;
    transform: rotate(54deg); } }

.confetti22 {
  animation: drop22 linear 3s infinite;
  animation-delay: 4.1s;
  left: 345px;
  background-color: #b366ff;
  transform: rotate(281deg) rotateY(2deg);
  transition: 0.3s; }

@keyframes drop22 {
  to {
    top: calc(100%);
    left: 385px;
    transform: rotate(239deg); } }

.confetti23 {
  animation: drop23 linear 3s infinite;
  animation-delay: 1.4s;
  left: 268px;
  background-color: #66a1ff;
  transform: rotate(20deg) rotateY(324deg);
  transition: 0.3s; }

@keyframes drop23 {
  to {
    top: calc(100%);
    left: 298px;
    transform: rotate(253deg); } }

.confetti24 {
  animation: drop24 linear 3s infinite;
  animation-delay: 2.3s;
  left: 138px;
  background-color: #ffe666;
  transform: rotate(352deg) rotateY(316deg);
  transition: 0.3s; }

@keyframes drop24 {
  to {
    top: calc(100%);
    left: 144px;
    transform: rotate(106deg); } }

.confetti25 {
  animation: drop25 linear 3s infinite;
  animation-delay: 0.1s;
  left: 388px;
  background-color: #ffd666;
  transform: rotate(346deg) rotateY(101deg);
  transition: 0.3s; }

@keyframes drop25 {
  to {
    top: calc(100%);
    left: 145px;
    transform: rotate(353deg); } }

.confetti26 {
  animation: drop26 linear 3s infinite;
  animation-delay: 4.8s;
  left: 360px;
  background-color: #6699ff;
  transform: rotate(281deg) rotateY(331deg);
  transition: 0.3s; }

@keyframes drop26 {
  to {
    top: calc(100%);
    left: 388px;
    transform: rotate(246deg); } }

.confetti27 {
  animation: drop27 linear 3s infinite;
  animation-delay: 1.3s;
  left: 226px;
  background-color: #66ffed;
  transform: rotate(54deg) rotateY(322deg);
  transition: 0.3s; }

@keyframes drop27 {
  to {
    top: calc(100%);
    left: 12px;
    transform: rotate(264deg); } }

.confetti28 {
  animation: drop28 linear 3s infinite;
  animation-delay: 2.4s;
  left: 44px;
  background-color: #66e6ff;
  transform: rotate(53deg) rotateY(186deg);
  transition: 0.3s; }

@keyframes drop28 {
  to {
    top: calc(100%);
    left: 104px;
    transform: rotate(137deg); } }

.confetti29 {
  animation: drop29 linear 3s infinite;
  animation-delay: 2s;
  left: 479px;
  background-color: #668cff;
  transform: rotate(328deg) rotateY(207deg);
  transition: 0.3s; }

@keyframes drop29 {
  to {
    top: calc(100%);
    left: 28px;
    transform: rotate(284deg); } }

.confetti30 {
  animation: drop30 linear 3s infinite;
  animation-delay: 2.2s;
  left: 433px;
  background-color: #ff9e66;
  transform: rotate(244deg) rotateY(195deg);
  transition: 0.3s; }

@keyframes drop30 {
  to {
    top: calc(100%);
    left: 38px;
    transform: rotate(162deg); } }

.confetti31 {
  animation: drop31 linear 3s infinite;
  animation-delay: 4.8s;
  left: 78px;
  background-color: #66ffbf;
  transform: rotate(106deg) rotateY(345deg);
  transition: 0.3s; }

@keyframes drop31 {
  to {
    top: calc(100%);
    left: 494px;
    transform: rotate(154deg); } }

.confetti32 {
  animation: drop32 linear 3s infinite;
  animation-delay: 1s;
  left: 3px;
  background-color: #ff66e8;
  transform: rotate(10deg) rotateY(241deg);
  transition: 0.3s; }

@keyframes drop32 {
  to {
    top: calc(100%);
    left: 485px;
    transform: rotate(239deg); } }

.confetti33 {
  animation: drop33 linear 3s infinite;
  animation-delay: 4.7s;
  left: 215px;
  background-color: #66ff75;
  transform: rotate(269deg) rotateY(137deg);
  transition: 0.3s; }

@keyframes drop33 {
  to {
    top: calc(100%);
    left: 98px;
    transform: rotate(186deg); } }

.confetti34 {
  animation: drop34 linear 3s infinite;
  animation-delay: 1.6s;
  left: 396px;
  background-color: #ff668a;
  transform: rotate(199deg) rotateY(331deg);
  transition: 0.3s; }

@keyframes drop34 {
  to {
    top: calc(100%);
    left: 62px;
    transform: rotate(286deg); } }

.confetti35 {
  animation: drop35 linear 3s infinite;
  animation-delay: 3.7s;
  left: 119px;
  background-color: #ffc766;
  transform: rotate(276deg) rotateY(83deg);
  transition: 0.3s; }

@keyframes drop35 {
  to {
    top: calc(100%);
    left: 430px;
    transform: rotate(17deg); } }

.confetti36 {
  animation: drop36 linear 3s infinite;
  animation-delay: 0.9s;
  left: 423px;
  background-color: #ff666e;
  transform: rotate(210deg) rotateY(185deg);
  transition: 0.3s; }

@keyframes drop36 {
  to {
    top: calc(100%);
    left: 247px;
    transform: rotate(193deg); } }

.confetti37 {
  animation: drop37 linear 3s infinite;
  animation-delay: 1.9s;
  left: 220px;
  background-color: #8066ff;
  transform: rotate(74deg) rotateY(240deg);
  transition: 0.3s; }

@keyframes drop37 {
  to {
    top: calc(100%);
    left: 258px;
    transform: rotate(276deg); } }

.confetti38 {
  animation: drop38 linear 3s infinite;
  animation-delay: 2s;
  left: 51px;
  background-color: #ff6691;
  transform: rotate(230deg) rotateY(298deg);
  transition: 0.3s; }

@keyframes drop38 {
  to {
    top: calc(100%);
    left: 314px;
    transform: rotate(137deg); } }

.confetti39 {
  animation: drop39 linear 3s infinite;
  animation-delay: 2.6s;
  left: 253px;
  background-color: #ff6680;
  transform: rotate(57deg) rotateY(308deg);
  transition: 0.3s; }

@keyframes drop39 {
  to {
    top: calc(100%);
    left: 83px;
    transform: rotate(360deg); } }

.confetti40 {
  animation: drop40 linear 3s infinite;
  animation-delay: 3.9s;
  left: 101px;
  background-color: #ff667d;
  transform: rotate(332deg) rotateY(115deg);
  transition: 0.3s; }

@keyframes drop40 {
  to {
    top: calc(100%);
    left: 454px;
    transform: rotate(72deg); } }

.confetti41 {
  animation: drop41 linear 3s infinite;
  animation-delay: 3.2s;
  left: 20px;
  background-color: #66ffc9;
  transform: rotate(224deg) rotateY(100deg);
  transition: 0.3s; }

@keyframes drop41 {
  to {
    top: calc(100%);
    left: 431px;
    transform: rotate(36deg); } }

.confetti42 {
  animation: drop42 linear 3s infinite;
  animation-delay: 1.4s;
  left: 121px;
  background-color: #bfff66;
  transform: rotate(24deg) rotateY(216deg);
  transition: 0.3s; }

@keyframes drop42 {
  to {
    top: calc(100%);
    left: 83px;
    transform: rotate(259deg); } }

.confetti43 {
  animation: drop43 linear 3s infinite;
  animation-delay: 3.1s;
  left: 378px;
  background-color: #6e66ff;
  transform: rotate(315deg) rotateY(148deg);
  transition: 0.3s; }

@keyframes drop43 {
  to {
    top: calc(100%);
    left: 127px;
    transform: rotate(173deg); } }

.confetti44 {
  animation: drop44 linear 3s infinite;
  animation-delay: 5s;
  left: 381px;
  background-color: #66ffff;
  transform: rotate(203deg) rotateY(198deg);
  transition: 0.3s; }

@keyframes drop44 {
  to {
    top: calc(100%);
    left: 276px;
    transform: rotate(260deg); } }

.confetti45 {
  animation: drop45 linear 3s infinite;
  animation-delay: 4.3s;
  left: 362px;
  background-color: #ff9e66;
  transform: rotate(339deg) rotateY(66deg);
  transition: 0.3s; }

@keyframes drop45 {
  to {
    top: calc(100%);
    left: 330px;
    transform: rotate(297deg); } }

.confetti46 {
  animation: drop46 linear 3s infinite;
  animation-delay: 2.7s;
  left: 208px;
  background-color: #66ffdb;
  transform: rotate(3deg) rotateY(217deg);
  transition: 0.3s; }

@keyframes drop46 {
  to {
    top: calc(100%);
    left: 319px;
    transform: rotate(31deg); } }

.confetti47 {
  animation: drop47 linear 3s infinite;
  animation-delay: 1.5s;
  left: 482px;
  background-color: #66ffc4;
  transform: rotate(205deg) rotateY(26deg);
  transition: 0.3s; }

@keyframes drop47 {
  to {
    top: calc(100%);
    left: 245px;
    transform: rotate(271deg); } }

.confetti48 {
  animation: drop48 linear 3s infinite;
  animation-delay: 2.8s;
  left: 25px;
  background-color: #ffc466;
  transform: rotate(298deg) rotateY(74deg);
  transition: 0.3s; }

@keyframes drop48 {
  to {
    top: calc(100%);
    left: 395px;
    transform: rotate(197deg); } }

.confetti49 {
  animation: drop49 linear 3s infinite;
  animation-delay: 4.4s;
  left: 476px;
  background-color: #66fff0;
  transform: rotate(122deg) rotateY(67deg);
  transition: 0.3s; }

@keyframes drop49 {
  to {
    top: calc(100%);
    left: 161px;
    transform: rotate(319deg); } }

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center; }

.containerWrapper {
  width: 70%;
  margin: 0 auto; }

.playerContainer {
  position: absolute;
  transition: 0.3s; }
  .playerContainer .player {
    float: left; }

.player {
  position: relative;
  text-align: center; }

.playerName {
  position: relative; }

.previousPlayer,
.nextPlayer {
  border: 0;
  position: absolute;
  background-color: grey;
  fill: #9ad4e6;
  padding-top: 3px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: dimgrey 0px 0px 20px;
  transition: all 0.5s;
  top: -6px; }
  .previousPlayer:hover,
  .nextPlayer:hover {
    fill: aqua;
    box-shadow: black 0px 0px 20px; }

.previousPlayer {
  left: 0; }

.nextPlayer {
  right: 0; }

.usernameForm {
  width: 100%; }

.submitUsername,
.enterUsername,
.submitUsers {
  margin: 0 auto;
  margin: 5px 0;
  padding: 15px; }

.player .labelContainer {
  width: 100%;
  padding-top: 20px;
  float: left;
  position: relative;
  text-align: center; }

.player .label {
  width: calc(30% - 10px);
  font-size: 1rem; }

.player .enterUsername {
  width: calc(70% - 10px);
  float: left;
  clear: both;
  margin-right: 20px;
  padding: 18px;
  border-radius: 8px;
  background-color: #c5c5c5;
  border: 0; }

.avatar img {
  width: 250px;
  height: 250px; }

.avatar {
  width: 100%;
  max-width: 864px; }

@media (max-width: 720px) {
  .player .label,
  .player .enterUsername {
    width: 100%; } }

@media (max-width: 430px) {
  .avatar img {
    width: 200px;
    height: 200px; }
  .submitUsers {
    width: 70%; } }

.startingPageContainer {
  width: 70%;
  margin: 0 auto; }

.startingPageContainer .label {
  margin: 10px 0; }

.startingPageContainer .btn {
  margin: 0; }

.startingPageContainer .labelContainer {
  width: 100%;
  max-width: 300px;
  margin-top: 50px; }

@media (max-width: 430px) {
  .startingPageContainer .btn {
    width: 100%; } }

.choiceContainer .btn {
  width: 300px;
  margin: 0 auto; }

.choiceContainer .labelContainer {
  margin: 10px;
  margin-top: 50px;
  padding: 0;
  padding-top: 0; }

.categorySection,
.difficultySection {
  width: calc(50% - 20px);
  float: left;
  margin: 10px; }

.choiceContainer label {
  font-size: 1rem; }

.choiceContainer .btn {
  margin: 50px 0 100px 0; }

.categorySection .label {
  width: calc(50% - 20px);
  float: left;
  margin: 10px; }

.difficultySection .label {
  width: calc(100% - 20px);
  float: left;
  margin: 10px; }

@media (max-width: 700px) {
  .choiceContainer .labelContainer {
    margin: 50px 0 20px 0; }
  .categorySection,
  .difficultySection {
    width: 100%; } }

@media (max-width: 430px) {
  .choiceContainer .btn {
    width: 100%; } }

.questionsPageContainer {
  text-align: center;
  margin: 0 auto;
  overflow: hidden; }

.hostQuestion img {
  position: absolute;
  left: 12%;
  top: 10%;
  width: 15%;
  border: 2px solid black; }

.hostQuestion p {
  color: black; }

.speechBubble {
  position: relative;
  margin: 40px auto;
  padding: 30px 20px;
  width: 80%;
  border-radius: 10px;
  transform: rotate(0deg) rotateY(-5deg);
  background: black;
  text-align: center; }

.speechBubble:before, .speechBubble:after {
  position: absolute;
  z-index: -1;
  content: ''; }

.speechBubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(1.5deg) translate(10px, -1px) scale(1.02);
  background: #c4c4c4;
  border: 1px solid black; }

.answersContainer {
  width: 500px;
  text-align: center; }

.playerAnswers {
  display: inline-block;
  min-width: 25%; }

.answers {
  display: block; }

.playerSubmit {
  display: inline-block; }

.answers .label {
  width: 100%;
  font-weight: 600;
  letter-spacing: none; }

.answers .label:hover {
  letter-spacing: normal; }

.answers {
  display: block;
  padding: 15px; }

.answers input[type="radio"] {
  position: fixed;
  opacity: 0; }

.players {
  position: relative;
  height: 60vh;
  overflow: hidden;
  margin-top: -20px; }
  .players .player {
    position: absolute;
    transition: 0.3s;
    transform: translateX(-50%);
    width: 100%; }
  .players .player2 {
    left: 100%; }
  .players .player3 {
    left: 200%; }
  .players .player4 {
    left: 400%; }

.playerSubmit h2 {
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 3px black; }

.playerSubmit img {
  border: 2px solid black;
  border-radius: 50%;
  width: 65%;
  background-color: #c4c4c4;
  box-shadow: inset 0px 0px 83px #fefefe; }

.playerSubmit button {
  display: block;
  width: 55%;
  margin: 0 auto;
  margin-top: 15px; }

.leaderBoard {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto; }
  .leaderBoard .leaderboardAvatar {
    display: inline-block; }
  .leaderBoard .scoreBadge {
    display: block;
    margin-left: 9px; }
  .leaderBoard img {
    width: 100px;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #c4c4c4;
    box-shadow: inset 0px 0px 83px #fefefe; }
  .leaderBoard h3 {
    text-align: center;
    font-size: 1.7rem;
    color: #9ad4e6; }
  .leaderBoard .badges {
    display: inline-block;
    width: 28%;
    height: 220px;
    vertical-align: top; }
  .leaderBoard .badges p {
    text-align: center;
    line-height: 10px;
    display: block; }
  .leaderBoard .labelContainer {
    margin: 10px;
    padding: 5px; }
  .leaderBoard .btn {
    margin: 10px auto;
    display: block;
    margin-bottom: 10px; }

@media (max-width: 700px) {
  .leaderBoard .badges {
    width: 40%; } }

@media (max-width: 430px) {
  .leaderBoard .badges {
    width: 70%; } }

.wrapper {
  margin: 0 auto; }

body {
  background-color: dimgrey; }

h2 {
  color: #9ad4e6; }
