@import "partials/setup";

// Leaderboard Styling // 

.leaderBoard {
    text-align: center;
    .leaderboardAvatar, .scoreBadge {
        // float: left
        // display: inline-block;
    }
    .leaderboardAvatar {
        // clear: both;
        display: inline-block;
    }

    .scoreBadge {
        display: inline-block;
        padding: 10px;
        vertical-align: top;
        // clear: both;
    }

    img {
        width: 100px;
        // display: inline-block;
        display: block;
        border: 1px solid black;
        border-radius: 50%;
        background-color: lightgrey;
    }
    h3 {
        text-align: left;
    }
    .badges {
        display: inline-block;
        width: 30%;
        text-align: left;
        // display: block;
    }
    .badges p {
        // display: inline-block;
        line-height: 10px;
        display: block;
    }
}

