@import "partials/setup";

// Leaderboard Styling // 

.leaderBoard {
    text-align: center;
    img {
        width: 100px;
        display: inline-block;
    }
    h3 {
        text-align: left;
    }
    .badges {
        display: inline-block;
    }
    .badges p {
        display: inline-block;
    }
}