@import "styles/partials/setup";

// * {
//     margin: 0;
//     padding: 0;
// }

// // Questions Page Styling //
.players {
    position: relative; 
    height: 75vh;
    overflow: hidden;
}

form.player {
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.3s;
    // bottom: 0;
}

form.player2 {
    position: absolute;
    left: 100%;
}
// form.player3 {
//     right: -200%;
// }
// form.player4 {
//     right: -300%;
// }