article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: "Montserrat"; }

.results section {
  text-align: center; }

.results h1 {
  text-align: center; }

.results img {
  display: block; }

.results button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block; }

.confetti {
  position: absolute;
  top: -16px;
  width: 8px;
  height: 16px; }

.avatar {
  position: relative;
  transition: 0.3s;
  overflow: hidden; }

.player {
  margin: auto 0;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  text-align: center; }
  .player .wrongAnimation {
    position: absolute;
    right: -90px;
    top: 0px;
    animation: wrench 1.5s infinite linear;
    transform: rotate(0); }
  .player .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: wrongOverlay 1.5s infinite; }
  .player .correct, .player .wrong {
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translateX(50%);
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 9px #000;
    margin: 0; }
  .player .wrong {
    color: red; }
  .player .correct {
    color: green; }

@keyframes wrench {
  50% {
    right: 80px;
    top: 80px;
    transform: rotate(-470deg); }
  100% {
    right: -100px;
    top: 260px; } }

@keyframes wrongOverlay {
  46% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background: rgba(255, 0, 0, 0.363); } }

.confetti0 {
  animation: drop0 linear 3s infinite;
  animation-delay: 2.1s;
  left: 346px;
  background-color: #91ff66;
  transform: rotate(319deg) rotateY(334deg);
  transition: 0.3s; }

@keyframes drop0 {
  to {
    top: calc(100%);
    left: 407px;
    transform: rotate(164deg); } }

.confetti1 {
  animation: drop1 linear 3s infinite;
  animation-delay: 2.9s;
  left: 131px;
  background-color: #6685ff;
  transform: rotate(288deg) rotateY(155deg);
  transition: 0.3s; }

@keyframes drop1 {
  to {
    top: calc(100%);
    left: 397px;
    transform: rotate(85deg); } }

.confetti2 {
  animation: drop2 linear 3s infinite;
  animation-delay: 1s;
  left: 364px;
  background-color: #66f0ff;
  transform: rotate(36deg) rotateY(40deg);
  transition: 0.3s; }

@keyframes drop2 {
  to {
    top: calc(100%);
    left: 372px;
    transform: rotate(73deg); } }

.confetti3 {
  animation: drop3 linear 3s infinite;
  animation-delay: 1.2s;
  left: 269px;
  background-color: #66ff8f;
  transform: rotate(219deg) rotateY(212deg);
  transition: 0.3s; }

@keyframes drop3 {
  to {
    top: calc(100%);
    left: 450px;
    transform: rotate(360deg); } }

.confetti4 {
  animation: drop4 linear 3s infinite;
  animation-delay: 2s;
  left: 26px;
  background-color: #66b0ff;
  transform: rotate(9deg) rotateY(77deg);
  transition: 0.3s; }

@keyframes drop4 {
  to {
    top: calc(100%);
    left: 491px;
    transform: rotate(281deg); } }

.confetti5 {
  animation: drop5 linear 3s infinite;
  animation-delay: 3.5s;
  left: 486px;
  background-color: #e366ff;
  transform: rotate(282deg) rotateY(285deg);
  transition: 0.3s; }

@keyframes drop5 {
  to {
    top: calc(100%);
    left: 23px;
    transform: rotate(335deg); } }

.confetti6 {
  animation: drop6 linear 3s infinite;
  animation-delay: 4s;
  left: 23px;
  background-color: #a366ff;
  transform: rotate(317deg) rotateY(66deg);
  transition: 0.3s; }

@keyframes drop6 {
  to {
    top: calc(100%);
    left: 342px;
    transform: rotate(221deg); } }

.confetti7 {
  animation: drop7 linear 3s infinite;
  animation-delay: 0.2s;
  left: 461px;
  background-color: #ff9466;
  transform: rotate(210deg) rotateY(183deg);
  transition: 0.3s; }

@keyframes drop7 {
  to {
    top: calc(100%);
    left: 72px;
    transform: rotate(141deg); } }

.confetti8 {
  animation: drop8 linear 3s infinite;
  animation-delay: 1.6s;
  left: 33px;
  background-color: #ff668a;
  transform: rotate(227deg) rotateY(107deg);
  transition: 0.3s; }

@keyframes drop8 {
  to {
    top: calc(100%);
    left: 358px;
    transform: rotate(242deg); } }

.confetti9 {
  animation: drop9 linear 3s infinite;
  animation-delay: 0.7s;
  left: 19px;
  background-color: #9e66ff;
  transform: rotate(67deg) rotateY(317deg);
  transition: 0.3s; }

@keyframes drop9 {
  to {
    top: calc(100%);
    left: 48px;
    transform: rotate(263deg); } }

.confetti10 {
  animation: drop10 linear 3s infinite;
  animation-delay: 1.3s;
  left: 493px;
  background-color: #ff66c4;
  transform: rotate(50deg) rotateY(311deg);
  transition: 0.3s; }

@keyframes drop10 {
  to {
    top: calc(100%);
    left: 476px;
    transform: rotate(103deg); } }

.confetti11 {
  animation: drop11 linear 3s infinite;
  animation-delay: 3.3s;
  left: 284px;
  background-color: #ff668a;
  transform: rotate(344deg) rotateY(179deg);
  transition: 0.3s; }

@keyframes drop11 {
  to {
    top: calc(100%);
    left: 214px;
    transform: rotate(338deg); } }

.confetti12 {
  animation: drop12 linear 3s infinite;
  animation-delay: 0.3s;
  left: 454px;
  background-color: #f566ff;
  transform: rotate(173deg) rotateY(54deg);
  transition: 0.3s; }

@keyframes drop12 {
  to {
    top: calc(100%);
    left: 228px;
    transform: rotate(334deg); } }

.confetti13 {
  animation: drop13 linear 3s infinite;
  animation-delay: 1.3s;
  left: 207px;
  background-color: #d1ff66;
  transform: rotate(339deg) rotateY(320deg);
  transition: 0.3s; }

@keyframes drop13 {
  to {
    top: calc(100%);
    left: 107px;
    transform: rotate(47deg); } }

.confetti14 {
  animation: drop14 linear 3s infinite;
  animation-delay: 1.7s;
  left: 259px;
  background-color: #bfff66;
  transform: rotate(174deg) rotateY(319deg);
  transition: 0.3s; }

@keyframes drop14 {
  to {
    top: calc(100%);
    left: 267px;
    transform: rotate(2deg); } }

.confetti15 {
  animation: drop15 linear 3s infinite;
  animation-delay: 1.9s;
  left: 42px;
  background-color: #66bdff;
  transform: rotate(191deg) rotateY(308deg);
  transition: 0.3s; }

@keyframes drop15 {
  to {
    top: calc(100%);
    left: 209px;
    transform: rotate(220deg); } }

.confetti16 {
  animation: drop16 linear 3s infinite;
  animation-delay: 4.5s;
  left: 6px;
  background-color: #96ff66;
  transform: rotate(274deg) rotateY(262deg);
  transition: 0.3s; }

@keyframes drop16 {
  to {
    top: calc(100%);
    left: 292px;
    transform: rotate(249deg); } }

.confetti17 {
  animation: drop17 linear 3s infinite;
  animation-delay: 2.9s;
  left: 425px;
  background-color: #ccff66;
  transform: rotate(148deg) rotateY(226deg);
  transition: 0.3s; }

@keyframes drop17 {
  to {
    top: calc(100%);
    left: 376px;
    transform: rotate(49deg); } }

.confetti18 {
  animation: drop18 linear 3s infinite;
  animation-delay: 4.7s;
  left: 496px;
  background-color: #c266ff;
  transform: rotate(63deg) rotateY(16deg);
  transition: 0.3s; }

@keyframes drop18 {
  to {
    top: calc(100%);
    left: 443px;
    transform: rotate(75deg); } }

.confetti19 {
  animation: drop19 linear 3s infinite;
  animation-delay: 3.3s;
  left: 193px;
  background-color: #66b5ff;
  transform: rotate(345deg) rotateY(29deg);
  transition: 0.3s; }

@keyframes drop19 {
  to {
    top: calc(100%);
    left: 253px;
    transform: rotate(2deg); } }

.confetti20 {
  animation: drop20 linear 3s infinite;
  animation-delay: 1.8s;
  left: 371px;
  background-color: #eb66ff;
  transform: rotate(228deg) rotateY(139deg);
  transition: 0.3s; }

@keyframes drop20 {
  to {
    top: calc(100%);
    left: 141px;
    transform: rotate(105deg); } }

.confetti21 {
  animation: drop21 linear 3s infinite;
  animation-delay: 1s;
  left: 438px;
  background-color: #66ff9c;
  transform: rotate(121deg) rotateY(53deg);
  transition: 0.3s; }

@keyframes drop21 {
  to {
    top: calc(100%);
    left: 225px;
    transform: rotate(5deg); } }

.confetti22 {
  animation: drop22 linear 3s infinite;
  animation-delay: 2.7s;
  left: 15px;
  background-color: #8566ff;
  transform: rotate(237deg) rotateY(341deg);
  transition: 0.3s; }

@keyframes drop22 {
  to {
    top: calc(100%);
    left: 460px;
    transform: rotate(31deg); } }

.confetti23 {
  animation: drop23 linear 3s infinite;
  animation-delay: 3.8s;
  left: 81px;
  background-color: #9eff66;
  transform: rotate(150deg) rotateY(23deg);
  transition: 0.3s; }

@keyframes drop23 {
  to {
    top: calc(100%);
    left: 494px;
    transform: rotate(268deg); } }

.confetti24 {
  animation: drop24 linear 3s infinite;
  animation-delay: 0.6s;
  left: 291px;
  background-color: #ff66a8;
  transform: rotate(276deg) rotateY(60deg);
  transition: 0.3s; }

@keyframes drop24 {
  to {
    top: calc(100%);
    left: 36px;
    transform: rotate(148deg); } }

.confetti25 {
  animation: drop25 linear 3s infinite;
  animation-delay: 2.3s;
  left: 418px;
  background-color: #66ffe8;
  transform: rotate(285deg) rotateY(352deg);
  transition: 0.3s; }

@keyframes drop25 {
  to {
    top: calc(100%);
    left: 46px;
    transform: rotate(177deg); } }

.confetti26 {
  animation: drop26 linear 3s infinite;
  animation-delay: 1s;
  left: 240px;
  background-color: #bdff66;
  transform: rotate(11deg) rotateY(192deg);
  transition: 0.3s; }

@keyframes drop26 {
  to {
    top: calc(100%);
    left: 10px;
    transform: rotate(326deg); } }

.confetti27 {
  animation: drop27 linear 3s infinite;
  animation-delay: 5s;
  left: 221px;
  background-color: #668aff;
  transform: rotate(287deg) rotateY(315deg);
  transition: 0.3s; }

@keyframes drop27 {
  to {
    top: calc(100%);
    left: 246px;
    transform: rotate(236deg); } }

.confetti28 {
  animation: drop28 linear 3s infinite;
  animation-delay: 0.7s;
  left: 25px;
  background-color: #f2ff66;
  transform: rotate(93deg) rotateY(279deg);
  transition: 0.3s; }

@keyframes drop28 {
  to {
    top: calc(100%);
    left: 345px;
    transform: rotate(254deg); } }

.confetti29 {
  animation: drop29 linear 3s infinite;
  animation-delay: 3.1s;
  left: 415px;
  background-color: #6678ff;
  transform: rotate(117deg) rotateY(113deg);
  transition: 0.3s; }

@keyframes drop29 {
  to {
    top: calc(100%);
    left: 241px;
    transform: rotate(134deg); } }

.confetti30 {
  animation: drop30 linear 3s infinite;
  animation-delay: 3.5s;
  left: 64px;
  background-color: #ff66a6;
  transform: rotate(221deg) rotateY(32deg);
  transition: 0.3s; }

@keyframes drop30 {
  to {
    top: calc(100%);
    left: 19px;
    transform: rotate(141deg); } }

.confetti31 {
  animation: drop31 linear 3s infinite;
  animation-delay: 4.5s;
  left: 419px;
  background-color: #b0ff66;
  transform: rotate(165deg) rotateY(92deg);
  transition: 0.3s; }

@keyframes drop31 {
  to {
    top: calc(100%);
    left: 304px;
    transform: rotate(143deg); } }

.confetti32 {
  animation: drop32 linear 3s infinite;
  animation-delay: 1.9s;
  left: 308px;
  background-color: #66ffa3;
  transform: rotate(275deg) rotateY(71deg);
  transition: 0.3s; }

@keyframes drop32 {
  to {
    top: calc(100%);
    left: 176px;
    transform: rotate(158deg); } }

.confetti33 {
  animation: drop33 linear 3s infinite;
  animation-delay: 4.8s;
  left: 140px;
  background-color: #db66ff;
  transform: rotate(142deg) rotateY(345deg);
  transition: 0.3s; }

@keyframes drop33 {
  to {
    top: calc(100%);
    left: 417px;
    transform: rotate(318deg); } }

.confetti34 {
  animation: drop34 linear 3s infinite;
  animation-delay: 2.5s;
  left: 24px;
  background-color: #cf66ff;
  transform: rotate(259deg) rotateY(238deg);
  transition: 0.3s; }

@keyframes drop34 {
  to {
    top: calc(100%);
    left: 11px;
    transform: rotate(236deg); } }

.confetti35 {
  animation: drop35 linear 3s infinite;
  animation-delay: 1.1s;
  left: 456px;
  background-color: #80ff66;
  transform: rotate(24deg) rotateY(283deg);
  transition: 0.3s; }

@keyframes drop35 {
  to {
    top: calc(100%);
    left: 80px;
    transform: rotate(66deg); } }

.confetti36 {
  animation: drop36 linear 3s infinite;
  animation-delay: 3.7s;
  left: 425px;
  background-color: #6669ff;
  transform: rotate(279deg) rotateY(58deg);
  transition: 0.3s; }

@keyframes drop36 {
  to {
    top: calc(100%);
    left: 156px;
    transform: rotate(102deg); } }

.confetti37 {
  animation: drop37 linear 3s infinite;
  animation-delay: 2.7s;
  left: 162px;
  background-color: #f266ff;
  transform: rotate(193deg) rotateY(248deg);
  transition: 0.3s; }

@keyframes drop37 {
  to {
    top: calc(100%);
    left: 57px;
    transform: rotate(248deg); } }

.confetti38 {
  animation: drop38 linear 3s infinite;
  animation-delay: 4.5s;
  left: 442px;
  background-color: #66a6ff;
  transform: rotate(138deg) rotateY(155deg);
  transition: 0.3s; }

@keyframes drop38 {
  to {
    top: calc(100%);
    left: 264px;
    transform: rotate(152deg); } }

.confetti39 {
  animation: drop39 linear 3s infinite;
  animation-delay: 0.5s;
  left: 257px;
  background-color: #66ffad;
  transform: rotate(104deg) rotateY(282deg);
  transition: 0.3s; }

@keyframes drop39 {
  to {
    top: calc(100%);
    left: 463px;
    transform: rotate(17deg); } }

.confetti40 {
  animation: drop40 linear 3s infinite;
  animation-delay: 1.2s;
  left: 181px;
  background-color: #a666ff;
  transform: rotate(352deg) rotateY(148deg);
  transition: 0.3s; }

@keyframes drop40 {
  to {
    top: calc(100%);
    left: 32px;
    transform: rotate(22deg); } }

.confetti41 {
  animation: drop41 linear 3s infinite;
  animation-delay: 1.7s;
  left: 250px;
  background-color: #8566ff;
  transform: rotate(116deg) rotateY(75deg);
  transition: 0.3s; }

@keyframes drop41 {
  to {
    top: calc(100%);
    left: 453px;
    transform: rotate(10deg); } }

.confetti42 {
  animation: drop42 linear 3s infinite;
  animation-delay: 1.5s;
  left: 172px;
  background-color: #99ff66;
  transform: rotate(71deg) rotateY(331deg);
  transition: 0.3s; }

@keyframes drop42 {
  to {
    top: calc(100%);
    left: 116px;
    transform: rotate(46deg); } }

.confetti43 {
  animation: drop43 linear 3s infinite;
  animation-delay: 3.6s;
  left: 32px;
  background-color: #66c7ff;
  transform: rotate(198deg) rotateY(229deg);
  transition: 0.3s; }

@keyframes drop43 {
  to {
    top: calc(100%);
    left: 426px;
    transform: rotate(8deg); } }

.confetti44 {
  animation: drop44 linear 3s infinite;
  animation-delay: 4.3s;
  left: 99px;
  background-color: #ff6678;
  transform: rotate(95deg) rotateY(70deg);
  transition: 0.3s; }

@keyframes drop44 {
  to {
    top: calc(100%);
    left: 218px;
    transform: rotate(256deg); } }

.confetti45 {
  animation: drop45 linear 3s infinite;
  animation-delay: 2.4s;
  left: 200px;
  background-color: #ffde66;
  transform: rotate(175deg) rotateY(79deg);
  transition: 0.3s; }

@keyframes drop45 {
  to {
    top: calc(100%);
    left: 498px;
    transform: rotate(269deg); } }

.confetti46 {
  animation: drop46 linear 3s infinite;
  animation-delay: 3.5s;
  left: 451px;
  background-color: #66ccff;
  transform: rotate(142deg) rotateY(100deg);
  transition: 0.3s; }

@keyframes drop46 {
  to {
    top: calc(100%);
    left: 397px;
    transform: rotate(56deg); } }

.confetti47 {
  animation: drop47 linear 3s infinite;
  animation-delay: 3.5s;
  left: 336px;
  background-color: #66b8ff;
  transform: rotate(300deg) rotateY(338deg);
  transition: 0.3s; }

@keyframes drop47 {
  to {
    top: calc(100%);
    left: 4px;
    transform: rotate(262deg); } }

.confetti48 {
  animation: drop48 linear 3s infinite;
  animation-delay: 4.2s;
  left: 81px;
  background-color: #8a66ff;
  transform: rotate(275deg) rotateY(35deg);
  transition: 0.3s; }

@keyframes drop48 {
  to {
    top: calc(100%);
    left: 223px;
    transform: rotate(165deg); } }

.confetti49 {
  animation: drop49 linear 3s infinite;
  animation-delay: 2.5s;
  left: 219px;
  background-color: #cf66ff;
  transform: rotate(66deg) rotateY(68deg);
  transition: 0.3s; }

@keyframes drop49 {
  to {
    top: calc(100%);
    left: 457px;
    transform: rotate(179deg); } }
