article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: "Montserrat"; }

.results section {
  text-align: center; }

.results h1 {
  text-align: center; }

.results img {
  display: block; }

.results button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block; }

.confetti {
  position: absolute;
  top: -16px;
  width: 8px;
  height: 16px; }

.avatar {
  position: relative;
  transition: 0.3s;
  overflow: hidden; }

.player {
  margin: auto 0;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  text-align: center; }
  .player .wrongAnimation {
    position: absolute;
    right: -90px;
    top: 0px;
    animation: wrench 1.5s infinite linear;
    transform: rotate(0); }
  .player .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: wrongOverlay 1.5s infinite; }
  .player .correct, .player .wrong {
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translateX(50%);
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 9px #000;
    margin: 0; }
  .player .wrong {
    color: red; }
  .player .correct {
    color: green; }

@keyframes wrench {
  50% {
    right: 80px;
    top: 80px;
    transform: rotate(-470deg); }
  100% {
    right: -100px;
    top: 260px; } }

@keyframes wrongOverlay {
  46% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background: rgba(255, 0, 0, 0.363); } }

.confetti0 {
  animation: drop0 linear 3s infinite;
  animation-delay: 4.5s;
  left: 464px;
  background-color: #6673ff;
  transform: rotate(226deg) rotateY(49deg);
  transition: 0.3s; }

@keyframes drop0 {
  to {
    top: calc(100%);
    left: 322px;
    transform: rotate(343deg); } }

.confetti1 {
  animation: drop1 linear 3s infinite;
  animation-delay: 3.6s;
  left: 139px;
  background-color: #ff7866;
  transform: rotate(83deg) rotateY(141deg);
  transition: 0.3s; }

@keyframes drop1 {
  to {
    top: calc(100%);
    left: 218px;
    transform: rotate(210deg); } }

.confetti2 {
  animation: drop2 linear 3s infinite;
  animation-delay: 1.5s;
  left: 402px;
  background-color: #ffa366;
  transform: rotate(156deg) rotateY(16deg);
  transition: 0.3s; }

@keyframes drop2 {
  to {
    top: calc(100%);
    left: 185px;
    transform: rotate(90deg); } }

.confetti3 {
  animation: drop3 linear 3s infinite;
  animation-delay: 2.6s;
  left: 460px;
  background-color: #8766ff;
  transform: rotate(160deg) rotateY(89deg);
  transition: 0.3s; }

@keyframes drop3 {
  to {
    top: calc(100%);
    left: 264px;
    transform: rotate(177deg); } }

.confetti4 {
  animation: drop4 linear 3s infinite;
  animation-delay: 4.6s;
  left: 163px;
  background-color: #66bfff;
  transform: rotate(20deg) rotateY(355deg);
  transition: 0.3s; }

@keyframes drop4 {
  to {
    top: calc(100%);
    left: 309px;
    transform: rotate(344deg); } }

.confetti5 {
  animation: drop5 linear 3s infinite;
  animation-delay: 3s;
  left: 224px;
  background-color: #666bff;
  transform: rotate(214deg) rotateY(34deg);
  transition: 0.3s; }

@keyframes drop5 {
  to {
    top: calc(100%);
    left: 176px;
    transform: rotate(185deg); } }

.confetti6 {
  animation: drop6 linear 3s infinite;
  animation-delay: 2.6s;
  left: 200px;
  background-color: #6678ff;
  transform: rotate(203deg) rotateY(358deg);
  transition: 0.3s; }

@keyframes drop6 {
  to {
    top: calc(100%);
    left: 151px;
    transform: rotate(84deg); } }

.confetti7 {
  animation: drop7 linear 3s infinite;
  animation-delay: 1.9s;
  left: 417px;
  background-color: #deff66;
  transform: rotate(163deg) rotateY(118deg);
  transition: 0.3s; }

@keyframes drop7 {
  to {
    top: calc(100%);
    left: 309px;
    transform: rotate(350deg); } }

.confetti8 {
  animation: drop8 linear 3s infinite;
  animation-delay: 1.9s;
  left: 93px;
  background-color: #b866ff;
  transform: rotate(9deg) rotateY(88deg);
  transition: 0.3s; }

@keyframes drop8 {
  to {
    top: calc(100%);
    left: 404px;
    transform: rotate(11deg); } }

.confetti9 {
  animation: drop9 linear 3s infinite;
  animation-delay: 3.8s;
  left: 115px;
  background-color: #66ffcf;
  transform: rotate(97deg) rotateY(30deg);
  transition: 0.3s; }

@keyframes drop9 {
  to {
    top: calc(100%);
    left: 281px;
    transform: rotate(296deg); } }

.confetti10 {
  animation: drop10 linear 3s infinite;
  animation-delay: 2.7s;
  left: 193px;
  background-color: #ff6675;
  transform: rotate(44deg) rotateY(43deg);
  transition: 0.3s; }

@keyframes drop10 {
  to {
    top: calc(100%);
    left: 59px;
    transform: rotate(262deg); } }

.confetti11 {
  animation: drop11 linear 3s infinite;
  animation-delay: 3.8s;
  left: 308px;
  background-color: #fffc66;
  transform: rotate(70deg) rotateY(242deg);
  transition: 0.3s; }

@keyframes drop11 {
  to {
    top: calc(100%);
    left: 397px;
    transform: rotate(210deg); } }

.confetti12 {
  animation: drop12 linear 3s infinite;
  animation-delay: 4.3s;
  left: 419px;
  background-color: #66fff2;
  transform: rotate(189deg) rotateY(204deg);
  transition: 0.3s; }

@keyframes drop12 {
  to {
    top: calc(100%);
    left: 406px;
    transform: rotate(5deg); } }

.confetti13 {
  animation: drop13 linear 3s infinite;
  animation-delay: 0.9s;
  left: 321px;
  background-color: #66e8ff;
  transform: rotate(37deg) rotateY(101deg);
  transition: 0.3s; }

@keyframes drop13 {
  to {
    top: calc(100%);
    left: 378px;
    transform: rotate(92deg); } }

.confetti14 {
  animation: drop14 linear 3s infinite;
  animation-delay: 0.5s;
  left: 144px;
  background-color: #e6ff66;
  transform: rotate(95deg) rotateY(200deg);
  transition: 0.3s; }

@keyframes drop14 {
  to {
    top: calc(100%);
    left: 350px;
    transform: rotate(58deg); } }

.confetti15 {
  animation: drop15 linear 3s infinite;
  animation-delay: 0.6s;
  left: 66px;
  background-color: #66ffbd;
  transform: rotate(306deg) rotateY(155deg);
  transition: 0.3s; }

@keyframes drop15 {
  to {
    top: calc(100%);
    left: 114px;
    transform: rotate(296deg); } }

.confetti16 {
  animation: drop16 linear 3s infinite;
  animation-delay: 3.9s;
  left: 398px;
  background-color: #9666ff;
  transform: rotate(217deg) rotateY(147deg);
  transition: 0.3s; }

@keyframes drop16 {
  to {
    top: calc(100%);
    left: 222px;
    transform: rotate(195deg); } }

.confetti17 {
  animation: drop17 linear 3s infinite;
  animation-delay: 1s;
  left: 60px;
  background-color: #66ff85;
  transform: rotate(229deg) rotateY(285deg);
  transition: 0.3s; }

@keyframes drop17 {
  to {
    top: calc(100%);
    left: 406px;
    transform: rotate(87deg); } }

.confetti18 {
  animation: drop18 linear 3s infinite;
  animation-delay: 3.2s;
  left: 290px;
  background-color: #d4ff66;
  transform: rotate(290deg) rotateY(91deg);
  transition: 0.3s; }

@keyframes drop18 {
  to {
    top: calc(100%);
    left: 325px;
    transform: rotate(213deg); } }

.confetti19 {
  animation: drop19 linear 3s infinite;
  animation-delay: 3.2s;
  left: 433px;
  background-color: #66ff6b;
  transform: rotate(81deg) rotateY(208deg);
  transition: 0.3s; }

@keyframes drop19 {
  to {
    top: calc(100%);
    left: 460px;
    transform: rotate(327deg); } }

.confetti20 {
  animation: drop20 linear 3s infinite;
  animation-delay: 0.6s;
  left: 241px;
  background-color: #9966ff;
  transform: rotate(228deg) rotateY(153deg);
  transition: 0.3s; }

@keyframes drop20 {
  to {
    top: calc(100%);
    left: 90px;
    transform: rotate(319deg); } }

.confetti21 {
  animation: drop21 linear 3s infinite;
  animation-delay: 4.1s;
  left: 23px;
  background-color: #ff6670;
  transform: rotate(237deg) rotateY(346deg);
  transition: 0.3s; }

@keyframes drop21 {
  to {
    top: calc(100%);
    left: 253px;
    transform: rotate(194deg); } }

.confetti22 {
  animation: drop22 linear 3s infinite;
  animation-delay: 0.9s;
  left: 65px;
  background-color: #ff666b;
  transform: rotate(190deg) rotateY(279deg);
  transition: 0.3s; }

@keyframes drop22 {
  to {
    top: calc(100%);
    left: 415px;
    transform: rotate(88deg); } }

.confetti23 {
  animation: drop23 linear 3s infinite;
  animation-delay: 2.2s;
  left: 310px;
  background-color: #66ffad;
  transform: rotate(226deg) rotateY(92deg);
  transition: 0.3s; }

@keyframes drop23 {
  to {
    top: calc(100%);
    left: 144px;
    transform: rotate(183deg); } }

.confetti24 {
  animation: drop24 linear 3s infinite;
  animation-delay: 2.2s;
  left: 50px;
  background-color: #66a1ff;
  transform: rotate(178deg) rotateY(64deg);
  transition: 0.3s; }

@keyframes drop24 {
  to {
    top: calc(100%);
    left: 13px;
    transform: rotate(42deg); } }

.confetti25 {
  animation: drop25 linear 3s infinite;
  animation-delay: 1.9s;
  left: 434px;
  background-color: #66ff75;
  transform: rotate(322deg) rotateY(175deg);
  transition: 0.3s; }

@keyframes drop25 {
  to {
    top: calc(100%);
    left: 264px;
    transform: rotate(33deg); } }

.confetti26 {
  animation: drop26 linear 3s infinite;
  animation-delay: 0.3s;
  left: 247px;
  background-color: #66fff5;
  transform: rotate(189deg) rotateY(208deg);
  transition: 0.3s; }

@keyframes drop26 {
  to {
    top: calc(100%);
    left: 31px;
    transform: rotate(14deg); } }

.confetti27 {
  animation: drop27 linear 3s infinite;
  animation-delay: 4.6s;
  left: 141px;
  background-color: #8f66ff;
  transform: rotate(164deg) rotateY(171deg);
  transition: 0.3s; }

@keyframes drop27 {
  to {
    top: calc(100%);
    left: 131px;
    transform: rotate(222deg); } }

.confetti28 {
  animation: drop28 linear 3s infinite;
  animation-delay: 3.7s;
  left: 297px;
  background-color: #66ff9c;
  transform: rotate(337deg) rotateY(227deg);
  transition: 0.3s; }

@keyframes drop28 {
  to {
    top: calc(100%);
    left: 175px;
    transform: rotate(157deg); } }

.confetti29 {
  animation: drop29 linear 3s infinite;
  animation-delay: 4.9s;
  left: 119px;
  background-color: #668cff;
  transform: rotate(283deg) rotateY(254deg);
  transition: 0.3s; }

@keyframes drop29 {
  to {
    top: calc(100%);
    left: 90px;
    transform: rotate(281deg); } }

.confetti30 {
  animation: drop30 linear 3s infinite;
  animation-delay: 2.6s;
  left: 467px;
  background-color: #ff66e3;
  transform: rotate(222deg) rotateY(90deg);
  transition: 0.3s; }

@keyframes drop30 {
  to {
    top: calc(100%);
    left: 294px;
    transform: rotate(276deg); } }

.confetti31 {
  animation: drop31 linear 3s infinite;
  animation-delay: 3.8s;
  left: 490px;
  background-color: #9666ff;
  transform: rotate(355deg) rotateY(267deg);
  transition: 0.3s; }

@keyframes drop31 {
  to {
    top: calc(100%);
    left: 476px;
    transform: rotate(99deg); } }

.confetti32 {
  animation: drop32 linear 3s infinite;
  animation-delay: 0.5s;
  left: 83px;
  background-color: #66a6ff;
  transform: rotate(291deg) rotateY(175deg);
  transition: 0.3s; }

@keyframes drop32 {
  to {
    top: calc(100%);
    left: 420px;
    transform: rotate(60deg); } }

.confetti33 {
  animation: drop33 linear 3s infinite;
  animation-delay: 3s;
  left: 212px;
  background-color: #66ff75;
  transform: rotate(30deg) rotateY(320deg);
  transition: 0.3s; }

@keyframes drop33 {
  to {
    top: calc(100%);
    left: 164px;
    transform: rotate(132deg); } }

.confetti34 {
  animation: drop34 linear 3s infinite;
  animation-delay: 1.8s;
  left: 204px;
  background-color: #ffd466;
  transform: rotate(325deg) rotateY(143deg);
  transition: 0.3s; }

@keyframes drop34 {
  to {
    top: calc(100%);
    left: 346px;
    transform: rotate(276deg); } }

.confetti35 {
  animation: drop35 linear 3s infinite;
  animation-delay: 4.5s;
  left: 166px;
  background-color: #ffd966;
  transform: rotate(229deg) rotateY(153deg);
  transition: 0.3s; }

@keyframes drop35 {
  to {
    top: calc(100%);
    left: 296px;
    transform: rotate(123deg); } }

.confetti36 {
  animation: drop36 linear 3s infinite;
  animation-delay: 4.2s;
  left: 422px;
  background-color: #66ff87;
  transform: rotate(41deg) rotateY(258deg);
  transition: 0.3s; }

@keyframes drop36 {
  to {
    top: calc(100%);
    left: 259px;
    transform: rotate(78deg); } }

.confetti37 {
  animation: drop37 linear 3s infinite;
  animation-delay: 2s;
  left: 277px;
  background-color: #ff66bd;
  transform: rotate(270deg) rotateY(307deg);
  transition: 0.3s; }

@keyframes drop37 {
  to {
    top: calc(100%);
    left: 111px;
    transform: rotate(225deg); } }

.confetti38 {
  animation: drop38 linear 3s infinite;
  animation-delay: 3.2s;
  left: 362px;
  background-color: #ff66fa;
  transform: rotate(158deg) rotateY(303deg);
  transition: 0.3s; }

@keyframes drop38 {
  to {
    top: calc(100%);
    left: 320px;
    transform: rotate(340deg); } }

.confetti39 {
  animation: drop39 linear 3s infinite;
  animation-delay: 0.4s;
  left: 107px;
  background-color: #8766ff;
  transform: rotate(268deg) rotateY(289deg);
  transition: 0.3s; }

@keyframes drop39 {
  to {
    top: calc(100%);
    left: 184px;
    transform: rotate(267deg); } }

.confetti40 {
  animation: drop40 linear 3s infinite;
  animation-delay: 4.9s;
  left: 337px;
  background-color: #66fff7;
  transform: rotate(146deg) rotateY(116deg);
  transition: 0.3s; }

@keyframes drop40 {
  to {
    top: calc(100%);
    left: 271px;
    transform: rotate(131deg); } }

.confetti41 {
  animation: drop41 linear 3s infinite;
  animation-delay: 0.5s;
  left: 419px;
  background-color: #66fff2;
  transform: rotate(234deg) rotateY(292deg);
  transition: 0.3s; }

@keyframes drop41 {
  to {
    top: calc(100%);
    left: 153px;
    transform: rotate(238deg); } }

.confetti42 {
  animation: drop42 linear 3s infinite;
  animation-delay: 2.6s;
  left: 133px;
  background-color: #7566ff;
  transform: rotate(85deg) rotateY(76deg);
  transition: 0.3s; }

@keyframes drop42 {
  to {
    top: calc(100%);
    left: 187px;
    transform: rotate(170deg); } }

.confetti43 {
  animation: drop43 linear 3s infinite;
  animation-delay: 3.7s;
  left: 214px;
  background-color: #ff66d4;
  transform: rotate(202deg) rotateY(41deg);
  transition: 0.3s; }

@keyframes drop43 {
  to {
    top: calc(100%);
    left: 386px;
    transform: rotate(340deg); } }

.confetti44 {
  animation: drop44 linear 3s infinite;
  animation-delay: 0.8s;
  left: 161px;
  background-color: #66baff;
  transform: rotate(131deg) rotateY(220deg);
  transition: 0.3s; }

@keyframes drop44 {
  to {
    top: calc(100%);
    left: 481px;
    transform: rotate(285deg); } }

.confetti45 {
  animation: drop45 linear 3s infinite;
  animation-delay: 4.5s;
  left: 66px;
  background-color: #ff66ff;
  transform: rotate(339deg) rotateY(295deg);
  transition: 0.3s; }

@keyframes drop45 {
  to {
    top: calc(100%);
    left: 354px;
    transform: rotate(109deg); } }

.confetti46 {
  animation: drop46 linear 3s infinite;
  animation-delay: 0.8s;
  left: 490px;
  background-color: #a6ff66;
  transform: rotate(292deg) rotateY(23deg);
  transition: 0.3s; }

@keyframes drop46 {
  to {
    top: calc(100%);
    left: 53px;
    transform: rotate(80deg); } }

.confetti47 {
  animation: drop47 linear 3s infinite;
  animation-delay: 3.9s;
  left: 144px;
  background-color: #8066ff;
  transform: rotate(306deg) rotateY(232deg);
  transition: 0.3s; }

@keyframes drop47 {
  to {
    top: calc(100%);
    left: 109px;
    transform: rotate(38deg); } }

.confetti48 {
  animation: drop48 linear 3s infinite;
  animation-delay: 2.3s;
  left: 85px;
  background-color: #f266ff;
  transform: rotate(348deg) rotateY(215deg);
  transition: 0.3s; }

@keyframes drop48 {
  to {
    top: calc(100%);
    left: 336px;
    transform: rotate(194deg); } }

.confetti49 {
  animation: drop49 linear 3s infinite;
  animation-delay: 3.2s;
  left: 160px;
  background-color: #ffb366;
  transform: rotate(98deg) rotateY(42deg);
  transition: 0.3s; }

@keyframes drop49 {
  to {
    top: calc(100%);
    left: 194px;
    transform: rotate(277deg); } }
