article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: "Montserrat"; }

.results section {
  text-align: center; }

.results h1 {
  text-align: center; }

.results img {
  display: block; }

.results button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block; }

.confetti {
  position: absolute;
  top: -16px;
  width: 8px;
  height: 16px; }

.avatar {
  position: relative;
  transition: 0.3s;
  overflow: hidden; }

.player {
  margin: auto 0;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  text-align: center; }
  .player .wrongAnimation {
    position: absolute;
    right: -90px;
    top: 0px;
    animation: wrench 1.5s infinite linear;
    transform: rotate(0); }
  .player .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: wrongOverlay 1.5s infinite; }
  .player .correct, .player .wrong {
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translateX(50%);
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 9px #000;
    margin: 0; }
  .player .wrong {
    color: red; }
  .player .correct {
    color: green; }

@keyframes wrench {
  50% {
    right: 80px;
    top: 80px;
    transform: rotate(-470deg); }
  100% {
    right: -100px;
    top: 260px; } }

@keyframes wrongOverlay {
  46% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background: rgba(255, 0, 0, 0.363); } }

.confetti0 {
  animation: drop0 linear 3s infinite;
  animation-delay: 1.8s;
  left: 225px;
  background-color: #ff6b66;
  transform: rotate(348deg) rotateY(257deg);
  transition: 0.3s; }

@keyframes drop0 {
  to {
    top: calc(100%);
    left: 335px;
    transform: rotate(101deg); } }

.confetti1 {
  animation: drop1 linear 3s infinite;
  animation-delay: 0.6s;
  left: 67px;
  background-color: #669cff;
  transform: rotate(332deg) rotateY(44deg);
  transition: 0.3s; }

@keyframes drop1 {
  to {
    top: calc(100%);
    left: 484px;
    transform: rotate(146deg); } }

.confetti2 {
  animation: drop2 linear 3s infinite;
  animation-delay: 0.2s;
  left: 129px;
  background-color: #ebff66;
  transform: rotate(125deg) rotateY(162deg);
  transition: 0.3s; }

@keyframes drop2 {
  to {
    top: calc(100%);
    left: 158px;
    transform: rotate(169deg); } }

.confetti3 {
  animation: drop3 linear 3s infinite;
  animation-delay: 4.9s;
  left: 342px;
  background-color: #66a1ff;
  transform: rotate(182deg) rotateY(267deg);
  transition: 0.3s; }

@keyframes drop3 {
  to {
    top: calc(100%);
    left: 32px;
    transform: rotate(203deg); } }

.confetti4 {
  animation: drop4 linear 3s infinite;
  animation-delay: 3.2s;
  left: 81px;
  background-color: #ffc766;
  transform: rotate(172deg) rotateY(47deg);
  transition: 0.3s; }

@keyframes drop4 {
  to {
    top: calc(100%);
    left: 160px;
    transform: rotate(289deg); } }

.confetti5 {
  animation: drop5 linear 3s infinite;
  animation-delay: 2.9s;
  left: 389px;
  background-color: #66ccff;
  transform: rotate(102deg) rotateY(188deg);
  transition: 0.3s; }

@keyframes drop5 {
  to {
    top: calc(100%);
    left: 148px;
    transform: rotate(332deg); } }

.confetti6 {
  animation: drop6 linear 3s infinite;
  animation-delay: 5s;
  left: 467px;
  background-color: #6966ff;
  transform: rotate(71deg) rotateY(253deg);
  transition: 0.3s; }

@keyframes drop6 {
  to {
    top: calc(100%);
    left: 76px;
    transform: rotate(280deg); } }

.confetti7 {
  animation: drop7 linear 3s infinite;
  animation-delay: 1.3s;
  left: 7px;
  background-color: #d9ff66;
  transform: rotate(75deg) rotateY(6deg);
  transition: 0.3s; }

@keyframes drop7 {
  to {
    top: calc(100%);
    left: 6px;
    transform: rotate(35deg); } }

.confetti8 {
  animation: drop8 linear 3s infinite;
  animation-delay: 0.9s;
  left: 226px;
  background-color: #66ff6b;
  transform: rotate(353deg) rotateY(358deg);
  transition: 0.3s; }

@keyframes drop8 {
  to {
    top: calc(100%);
    left: 108px;
    transform: rotate(212deg); } }

.confetti9 {
  animation: drop9 linear 3s infinite;
  animation-delay: 0.3s;
  left: 418px;
  background-color: #66ffb8;
  transform: rotate(175deg) rotateY(85deg);
  transition: 0.3s; }

@keyframes drop9 {
  to {
    top: calc(100%);
    left: 12px;
    transform: rotate(69deg); } }

.confetti10 {
  animation: drop10 linear 3s infinite;
  animation-delay: 4.6s;
  left: 325px;
  background-color: #ff66c7;
  transform: rotate(217deg) rotateY(233deg);
  transition: 0.3s; }

@keyframes drop10 {
  to {
    top: calc(100%);
    left: 128px;
    transform: rotate(246deg); } }

.confetti11 {
  animation: drop11 linear 3s infinite;
  animation-delay: 2.6s;
  left: 333px;
  background-color: #66ff70;
  transform: rotate(305deg) rotateY(349deg);
  transition: 0.3s; }

@keyframes drop11 {
  to {
    top: calc(100%);
    left: 20px;
    transform: rotate(208deg); } }

.confetti12 {
  animation: drop12 linear 3s infinite;
  animation-delay: 4s;
  left: 366px;
  background-color: #a866ff;
  transform: rotate(250deg) rotateY(197deg);
  transition: 0.3s; }

@keyframes drop12 {
  to {
    top: calc(100%);
    left: 118px;
    transform: rotate(165deg); } }

.confetti13 {
  animation: drop13 linear 3s infinite;
  animation-delay: 1.2s;
  left: 376px;
  background-color: #ff7866;
  transform: rotate(152deg) rotateY(294deg);
  transition: 0.3s; }

@keyframes drop13 {
  to {
    top: calc(100%);
    left: 85px;
    transform: rotate(234deg); } }

.confetti14 {
  animation: drop14 linear 3s infinite;
  animation-delay: 5s;
  left: 194px;
  background-color: #66ffc9;
  transform: rotate(240deg) rotateY(140deg);
  transition: 0.3s; }

@keyframes drop14 {
  to {
    top: calc(100%);
    left: 118px;
    transform: rotate(122deg); } }

.confetti15 {
  animation: drop15 linear 3s infinite;
  animation-delay: 4.6s;
  left: 408px;
  background-color: #66ffa6;
  transform: rotate(23deg) rotateY(179deg);
  transition: 0.3s; }

@keyframes drop15 {
  to {
    top: calc(100%);
    left: 409px;
    transform: rotate(124deg); } }

.confetti16 {
  animation: drop16 linear 3s infinite;
  animation-delay: 2.5s;
  left: 283px;
  background-color: #ff6666;
  transform: rotate(229deg) rotateY(45deg);
  transition: 0.3s; }

@keyframes drop16 {
  to {
    top: calc(100%);
    left: 87px;
    transform: rotate(115deg); } }

.confetti17 {
  animation: drop17 linear 3s infinite;
  animation-delay: 0.8s;
  left: 185px;
  background-color: #66ffcc;
  transform: rotate(275deg) rotateY(359deg);
  transition: 0.3s; }

@keyframes drop17 {
  to {
    top: calc(100%);
    left: 90px;
    transform: rotate(30deg); } }

.confetti18 {
  animation: drop18 linear 3s infinite;
  animation-delay: 5s;
  left: 212px;
  background-color: #66ffed;
  transform: rotate(78deg) rotateY(326deg);
  transition: 0.3s; }

@keyframes drop18 {
  to {
    top: calc(100%);
    left: 401px;
    transform: rotate(217deg); } }

.confetti19 {
  animation: drop19 linear 3s infinite;
  animation-delay: 3.2s;
  left: 182px;
  background-color: #66e3ff;
  transform: rotate(66deg) rotateY(271deg);
  transition: 0.3s; }

@keyframes drop19 {
  to {
    top: calc(100%);
    left: 51px;
    transform: rotate(264deg); } }

.confetti20 {
  animation: drop20 linear 3s infinite;
  animation-delay: 2.8s;
  left: 68px;
  background-color: #66ff7d;
  transform: rotate(321deg) rotateY(76deg);
  transition: 0.3s; }

@keyframes drop20 {
  to {
    top: calc(100%);
    left: 103px;
    transform: rotate(80deg); } }

.confetti21 {
  animation: drop21 linear 3s infinite;
  animation-delay: 4.1s;
  left: 158px;
  background-color: #66fff5;
  transform: rotate(58deg) rotateY(192deg);
  transition: 0.3s; }

@keyframes drop21 {
  to {
    top: calc(100%);
    left: 435px;
    transform: rotate(237deg); } }

.confetti22 {
  animation: drop22 linear 3s infinite;
  animation-delay: 2.5s;
  left: 457px;
  background-color: #ffb866;
  transform: rotate(194deg) rotateY(131deg);
  transition: 0.3s; }

@keyframes drop22 {
  to {
    top: calc(100%);
    left: 56px;
    transform: rotate(6deg); } }

.confetti23 {
  animation: drop23 linear 3s infinite;
  animation-delay: 4.3s;
  left: 80px;
  background-color: #8a66ff;
  transform: rotate(225deg) rotateY(55deg);
  transition: 0.3s; }

@keyframes drop23 {
  to {
    top: calc(100%);
    left: 375px;
    transform: rotate(34deg); } }

.confetti24 {
  animation: drop24 linear 3s infinite;
  animation-delay: 3.3s;
  left: 260px;
  background-color: #ff66e6;
  transform: rotate(23deg) rotateY(187deg);
  transition: 0.3s; }

@keyframes drop24 {
  to {
    top: calc(100%);
    left: 240px;
    transform: rotate(5deg); } }

.confetti25 {
  animation: drop25 linear 3s infinite;
  animation-delay: 2.5s;
  left: 317px;
  background-color: #b0ff66;
  transform: rotate(41deg) rotateY(281deg);
  transition: 0.3s; }

@keyframes drop25 {
  to {
    top: calc(100%);
    left: 49px;
    transform: rotate(293deg); } }

.confetti26 {
  animation: drop26 linear 3s infinite;
  animation-delay: 2.4s;
  left: 187px;
  background-color: #e666ff;
  transform: rotate(43deg) rotateY(232deg);
  transition: 0.3s; }

@keyframes drop26 {
  to {
    top: calc(100%);
    left: 351px;
    transform: rotate(318deg); } }

.confetti27 {
  animation: drop27 linear 3s infinite;
  animation-delay: 5s;
  left: 461px;
  background-color: #66ffd9;
  transform: rotate(65deg) rotateY(62deg);
  transition: 0.3s; }

@keyframes drop27 {
  to {
    top: calc(100%);
    left: 357px;
    transform: rotate(280deg); } }

.confetti28 {
  animation: drop28 linear 3s infinite;
  animation-delay: 1.3s;
  left: 257px;
  background-color: #ff6678;
  transform: rotate(88deg) rotateY(186deg);
  transition: 0.3s; }

@keyframes drop28 {
  to {
    top: calc(100%);
    left: 318px;
    transform: rotate(13deg); } }

.confetti29 {
  animation: drop29 linear 3s infinite;
  animation-delay: 1.7s;
  left: 410px;
  background-color: #ffde66;
  transform: rotate(29deg) rotateY(120deg);
  transition: 0.3s; }

@keyframes drop29 {
  to {
    top: calc(100%);
    left: 374px;
    transform: rotate(21deg); } }

.confetti30 {
  animation: drop30 linear 3s infinite;
  animation-delay: 2.4s;
  left: 215px;
  background-color: #66f0ff;
  transform: rotate(333deg) rotateY(144deg);
  transition: 0.3s; }

@keyframes drop30 {
  to {
    top: calc(100%);
    left: 477px;
    transform: rotate(9deg); } }

.confetti31 {
  animation: drop31 linear 3s infinite;
  animation-delay: 4.9s;
  left: 187px;
  background-color: #ff66b0;
  transform: rotate(197deg) rotateY(317deg);
  transition: 0.3s; }

@keyframes drop31 {
  to {
    top: calc(100%);
    left: 282px;
    transform: rotate(225deg); } }

.confetti32 {
  animation: drop32 linear 3s infinite;
  animation-delay: 2.9s;
  left: 327px;
  background-color: #66f7ff;
  transform: rotate(85deg) rotateY(100deg);
  transition: 0.3s; }

@keyframes drop32 {
  to {
    top: calc(100%);
    left: 360px;
    transform: rotate(222deg); } }

.confetti33 {
  animation: drop33 linear 3s infinite;
  animation-delay: 0.1s;
  left: 34px;
  background-color: #66e6ff;
  transform: rotate(196deg) rotateY(295deg);
  transition: 0.3s; }

@keyframes drop33 {
  to {
    top: calc(100%);
    left: 406px;
    transform: rotate(148deg); } }

.confetti34 {
  animation: drop34 linear 3s infinite;
  animation-delay: 4.4s;
  left: 299px;
  background-color: #ff66d1;
  transform: rotate(325deg) rotateY(118deg);
  transition: 0.3s; }

@keyframes drop34 {
  to {
    top: calc(100%);
    left: 5px;
    transform: rotate(312deg); } }

.confetti35 {
  animation: drop35 linear 3s infinite;
  animation-delay: 4s;
  left: 262px;
  background-color: #a1ff66;
  transform: rotate(7deg) rotateY(338deg);
  transition: 0.3s; }

@keyframes drop35 {
  to {
    top: calc(100%);
    left: 53px;
    transform: rotate(57deg); } }

.confetti36 {
  animation: drop36 linear 3s infinite;
  animation-delay: 4.3s;
  left: 47px;
  background-color: #6b66ff;
  transform: rotate(142deg) rotateY(356deg);
  transition: 0.3s; }

@keyframes drop36 {
  to {
    top: calc(100%);
    left: 56px;
    transform: rotate(278deg); } }

.confetti37 {
  animation: drop37 linear 3s infinite;
  animation-delay: 2.7s;
  left: 86px;
  background-color: #75ff66;
  transform: rotate(165deg) rotateY(59deg);
  transition: 0.3s; }

@keyframes drop37 {
  to {
    top: calc(100%);
    left: 142px;
    transform: rotate(301deg); } }

.confetti38 {
  animation: drop38 linear 3s infinite;
  animation-delay: 1.5s;
  left: 17px;
  background-color: #ff669e;
  transform: rotate(323deg) rotateY(77deg);
  transition: 0.3s; }

@keyframes drop38 {
  to {
    top: calc(100%);
    left: 364px;
    transform: rotate(286deg); } }

.confetti39 {
  animation: drop39 linear 3s infinite;
  animation-delay: 1s;
  left: 458px;
  background-color: #66d1ff;
  transform: rotate(36deg) rotateY(21deg);
  transition: 0.3s; }

@keyframes drop39 {
  to {
    top: calc(100%);
    left: 146px;
    transform: rotate(81deg); } }

.confetti40 {
  animation: drop40 linear 3s infinite;
  animation-delay: 4.3s;
  left: 218px;
  background-color: #7dff66;
  transform: rotate(339deg) rotateY(68deg);
  transition: 0.3s; }

@keyframes drop40 {
  to {
    top: calc(100%);
    left: 317px;
    transform: rotate(228deg); } }

.confetti41 {
  animation: drop41 linear 3s infinite;
  animation-delay: 4.6s;
  left: 338px;
  background-color: #fff766;
  transform: rotate(230deg) rotateY(107deg);
  transition: 0.3s; }

@keyframes drop41 {
  to {
    top: calc(100%);
    left: 426px;
    transform: rotate(136deg); } }

.confetti42 {
  animation: drop42 linear 3s infinite;
  animation-delay: 2.1s;
  left: 371px;
  background-color: #8266ff;
  transform: rotate(48deg) rotateY(228deg);
  transition: 0.3s; }

@keyframes drop42 {
  to {
    top: calc(100%);
    left: 344px;
    transform: rotate(102deg); } }

.confetti43 {
  animation: drop43 linear 3s infinite;
  animation-delay: 1.8s;
  left: 62px;
  background-color: #ff66e0;
  transform: rotate(206deg) rotateY(121deg);
  transition: 0.3s; }

@keyframes drop43 {
  to {
    top: calc(100%);
    left: 383px;
    transform: rotate(103deg); } }

.confetti44 {
  animation: drop44 linear 3s infinite;
  animation-delay: 1.5s;
  left: 224px;
  background-color: #66fff2;
  transform: rotate(99deg) rotateY(80deg);
  transition: 0.3s; }

@keyframes drop44 {
  to {
    top: calc(100%);
    left: 450px;
    transform: rotate(48deg); } }

.confetti45 {
  animation: drop45 linear 3s infinite;
  animation-delay: 4.6s;
  left: 77px;
  background-color: #66c9ff;
  transform: rotate(299deg) rotateY(15deg);
  transition: 0.3s; }

@keyframes drop45 {
  to {
    top: calc(100%);
    left: 306px;
    transform: rotate(324deg); } }

.confetti46 {
  animation: drop46 linear 3s infinite;
  animation-delay: 5s;
  left: 132px;
  background-color: #e066ff;
  transform: rotate(208deg) rotateY(26deg);
  transition: 0.3s; }

@keyframes drop46 {
  to {
    top: calc(100%);
    left: 293px;
    transform: rotate(57deg); } }

.confetti47 {
  animation: drop47 linear 3s infinite;
  animation-delay: 3.4s;
  left: 54px;
  background-color: #9cff66;
  transform: rotate(175deg) rotateY(144deg);
  transition: 0.3s; }

@keyframes drop47 {
  to {
    top: calc(100%);
    left: 1px;
    transform: rotate(248deg); } }

.confetti48 {
  animation: drop48 linear 3s infinite;
  animation-delay: 4.7s;
  left: 233px;
  background-color: #ba66ff;
  transform: rotate(1deg) rotateY(108deg);
  transition: 0.3s; }

@keyframes drop48 {
  to {
    top: calc(100%);
    left: 272px;
    transform: rotate(299deg); } }

.confetti49 {
  animation: drop49 linear 3s infinite;
  animation-delay: 3s;
  left: 84px;
  background-color: #ffcf66;
  transform: rotate(96deg) rotateY(110deg);
  transition: 0.3s; }

@keyframes drop49 {
  to {
    top: calc(100%);
    left: 208px;
    transform: rotate(180deg); } }
